@{
    var culture = CultureInfo.CurrentCulture.Name;
    ViewBag.Title = "PRIVACY POLICY";

}
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }

        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <div class="page" title="Page 1">
            <div class="layoutArea">
                <div class="column">
                    <h1 style="text-align: center;"><span style="color: #70b046;"><strong>PRIVACY POLICY</strong></span></h1>
                    <p><strong>GENERAL CONDITION</strong></p>
                    <p>Van Xuan FMCG Investment Company Limited, (“We” or “Us” or “Our”) is the operator of&nbsp;<a href="https://boostjuice.com.vn/en/home/" target="_blank" rel="noopener">www.boostjuice.com.vn</a>&nbsp;(the “Site”) and we are committed to safeguarding the personal data of&nbsp; users of the Site (“You”) by implementing this Privacy Policy (“Policy”).</p>
                    <p>This Privacy Policy (together with our Terms of Use and any other documents referred to in it) sets out how personal data that we collect from you, or that you provide to us, will be used, processed or disclosed by us, including how certain information would be used to personalise advertising directed at you. This Privacy Policy also sets out the types of personal data we collect, how we keep it secure, as well as how you can access or alter your personal data stored by us. This Privacy Policy covers use of the Site and any other way you may connect to or interact with us through the use of our Site and services.</p>
                    <p>Please read the following carefully to understand our policy and practices how we collect your personal data and how we will treat it.</p>
                    <p>Unless restricted by applicable law, you agree that any and all personal data relating to you collected by us or provided by you from time to time may be used, processed, and disclosed for such purposes and to such persons as set out in this Privacy Policy.</p>
                    <p>We may amend this Privacy Policy at any time by posting a revised version on the Site. However, an individual notice will not be sent to you. The amended Policy will go into effect immediately when posted on the Site. If you continue to use the Site or our services after the changes have taken effect, you will be deemed to have acknowledged and agreed to the amended Privacy Policy. Please always check for the latest version of the Policy when using the Site.</p>
                    <p><strong>THE INFORMATION WE COLLECT</strong></p>
                    <p>1. You can use and browse the Site without disclosing your personal data. You are not required to provide personal data as a condition of using the Site, except as may be necessary for us to be able to provide the services which we respond to your requests, or in cases where you contact us directly.</p>
                    <p>2. We collect personal data such as name, e-mail address, phone/mobile number and home address, only when you provide it to us in the following situations:</p>
                    <ul>
                        <li>When you carry out transactions with us on or in relation to the Site;</li>
                        <li>When you register an account with us on the Site;</li>
                        <li>When you contact our customer service or sales people by e-mail, telephone, or in person, to resolve any issues that you may be facing or with inquiries or requests; and</li>
                        <li>When you subscribe to the services that we are providing on the Site, or for our e-mail notifications, and/or newsletters.</li>
                    </ul>
                    <p>3. We may collect certain information on your visits to the Site including, but not limited to traffic data, location data, and the resources that you access. This information is non-personally identifiable information (i.e. it cannot be used to identify you) and may be used by us, or by a third party advertiser, in tailoring advertising specifically for you. For details on how to opt out of providing such information, please see section “Cookies” of this Privacy Policy.</p>
                    <p><strong>PURPOSES OF USE</strong></p>
                    <p>4. The personal data which you provide may be used and processed by us in the aggregate or individually and may be combined with other information for the purpose of managing and operating the Site, the scope of which may include, but is not limited to the following:</p>
                    <ul>
                        <li>Administering the Site;</li>
                        <li>Improving your browsing experience by personalising the Site;</li>
                        <li>Enabling your use of the services available on the Site;</li>
                        <li>Providing to you the services that you have specifically requested;</li>
                        <li>Responding to your enquiries or requests pursuant to your e-mails and/or submission of form(s) on the Site;</li>
                        <li>Responding to and taking follow-up action on complaints regarding the use of the Site or any service provided by us;</li>
                        <li>Sending you general commercial communications such as news, marketing campaign or latest updates regarding to our products and services;</li>
                        <li>Performing office and operational administrative matters; and</li>
                        <li>Providing third parties with statistical information about our users. Such statistical information may be used to personalise advertising on the Site, but cannot be used to identify any individual user. For details on how to opt out of personalised advertising, please refer to section “Cookies” of this Privacy Policy.</li>
                    </ul>
                    <p>5. We will not, without your express consent, disclose your personal data to third parties for the purposes of direct marketing. Consent for disclosure of personal data to third parties, for the purposes of receiving marketing communications, is given through our registration form, either online or on paper. You can withdraw your consent by contacting our customer service:&nbsp;<a href="https://boostjuice.com.vn/en/contact/" target="_blank" rel="noopener">Contact us</a>.</p>
                    <p><strong>SECURITY</strong></p>
                    <p>6. We have put in place physical, electronic, and managerial procedures designed to help prevent unauthorized access, to maintain data security, and to use correctly the information we collect online. These safeguards vary based on the sensitivity of the information that we collect and store.</p>
                    <p>
                        7. The security of your personal information that you send to us on or through The Site is our utmost priority. We have set up on-site protection technologies to ensure that all transmission on the Site is secured. We use different security technologies to protect the information form unauthorized retrieval, use or disclosure. We will continue to develop to strengthen and increase the security of your personal data.<br>
                        You however understand that the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your personal data transmitted to the Site; any transmission is at your own risk.
                    </p>
                    <p>8. Where we have given you (or where you have chosen) a password which enables you to access certain parts of the Site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone. We will never ask you for your password other than when you log in to the Site, as the case may be.</p>
                    <p><strong>DISCLOSURE OF PERSONAL DATA</strong></p>
                    <p>9. In order to manage and operate the Site, we may disclose your personal data to service providers or partners that we have engaged to perform business-related functions on our behalf. This may include service providers that:</p>
                    <ul>
                        <li>Conduct research and analytics;</li>
                        <li>Create content;</li>
                        <li>Provide customer, technical or operational support;</li>
                        <li>Conduct or support marketing (such as e-mails or advertising platforms);</li>
                        <li>Fulfill orders and user requests;</li>
                        <li>Maintain databases; and</li>
                        <li>Send our support online or mobile advertising.</li>
                    </ul>
                    <p>10. We may also disclose your personal data to third parties such as our service providers and professional advisors for the following purposes:</p>
                    <ul>
                        <li>To comply with any legal requirement;</li>
                        <li>To enforce or apply our Terms of Use;</li>
                        <li>To protect our rights, property, and safety, and the rights, property and safety of our affiliates and subsidiaries, other users of the Site, and others;</li>
                        <li>To prevent crime or protect national security;</li>
                        <li>In connection with any legal proceedings or prospective legal proceedings; and</li>
                        <li>In connection with a business asset transaction (i.e. the purchase, sale, lease, merger or amalgamation or any other acquisition, disposal or financing of an organisation or a portion of an organisation or of any of the business or assets of an organisation) to which we are a party or a prospective party.</li>
                    </ul>
                    <p>11. We may share your personal data with third parties (e.g. our third party service providers, advertisers, advertising networks and platforms, agencies, other marketers, magazine publishers, retailers, participatory databases, and non-profit organizations) that wish to market products or services to you.</p>
                    <p>12. The third parties or partners that we share your personal data with, will be bound by a confidentiality aregreement whereby they must strictly adhere to the principle of dealing with such business information confidentially and only use the provided information for the purpose of completing the task or project set in the agreement. They are subject to the obligations in the contract and may be disciplined or terminated if they fail to comply with such obligations.</p>
                    <p>13. In case of business development and restructuring, our company may be merged, consolidated, or acquired by another company. During such process, your personal information may be considered as a business asset and transferred to another company. Usage of the information during the transfer process is subject to the privacy policy at the time of the transfer.</p>
                    <p><strong>IP ADDRESSES</strong></p>
                    <p>14. When you use the Site, we may collect and store information about your computer, including where available your IP address, operating system, browser type and date and time of daily visits for system administration. This is statistical data about our users’ browsing actions and patterns, and does not identify any individual.</p>
                    <p><strong>COOKIES AND OTHER SIMILAR TECHNOLOGIES</strong></p>
                    <p>15. Cookies are used on the Site to distinguish you from other users of the Site. To enhance your online experience, we and our Partners use “cookies”, “web beacons” or other tracking technologies. Cookies are text files placed in your computer’s browser to store your preferences. We use cookies or other tracking technologies to understand service and Internet usage and to improve or customize the products, content, offerings, services or advertisements on the Site or on other websites. All cookies which we send to you through the Site are set to expire in 1 year.</p>
                    <p>16. We also allow certain third parties to collect information about your online activities through cookies and other technologies when you use the Site. These third parties include:</p>
                    <ul>
                        <li>Business partners, who collect information when you view or interact with one of their advertisements on the Site; and</li>
                        <li>
                            Advertising networks, who collect information about your interests when you view or interact with one of the advertisements they place on many different web sites on the Internet.<br>
                            The information gathered by these third parties are non-personally identifiable information which is used to make predictions about your characteristics, interests or preferences and to display advertisements on the Site and across the Internet which are tailored to your interests.
                        </li>
                    </ul>
                    <p>17. Please note that the above mentioned third parties may themselves set and access their own tracking technologies when you visit the Site and they may have access to information about you and your online activities over time and across different websites or applications when you use the Site. Their use of such tracking technologies is not in our control and is subject to their own privacy policies.</p>
                    <p>18. By visiting the Site, whether as a registered user or otherwise, you acknowledge, and agree that you are giving us your consent to track your activities and your use of the Site through the technologies described above, as well as similar technologies developed in the future, and that we may use such tracking technologies in the e-mails we send to you.</p>
                    <p>19. Most web browsers are set up to accept cookies. You may be able to set your browser to warn you before accepting certain cookies or to refuse certain cookies. To opt out, please follow link: http://www.aboutads.info/choices/. You can manage the type of cookies that are allowed through your browser settings, including completely blocking all cookies if you so wish. However, if you disable the use of cookies in your web browser, some features of the Site may be difficult to use or inoperable. For information about how to manage cookies on your browser, please see the “Help” section of the browser you are using.</p>
                    <p><strong>THIRD PARTY WEBSITES &amp; LINKED SERVICES</strong></p>
                    <p>20. The Site may, from time to time, contain links to and from the websites of our partner networks and vendors. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
                    <p>21. The Site contain links to or integrations with other services such as Facebook, Twitter, LinkedIn, YouTube and other media services and platforms whose information practices may be different than ours. Visitors should consult these other services’ privacy notices as we have no control over information that is submitted to, or collected by, these third parties.</p>
                    <p><strong>ACCESS AND CORRECTION</strong></p>
                    <p>22. Access to certain personal information that is collected from our Site and that we maintained may be available to you. You can access and update your personal information by logging in to the account on The Site.</p>
                    <p>23. In addition, all requests for information or requests for the amendment of personal data held by us can be sent via e-mail or letter to the following e-mail or street address requesting access to or correction of your personal information. Please include your registration information for such service such as first name, last name and e-mail address in the request. We may ask you to provide additional information for identity verification purposes, or to verify that you are in possession of an applicable e-mail account.</p>
                    <p>
                        <strong>Van Xuan FMCG Investment Company Limited</strong><br>
                        Attention: Privacy Policy Coordinator<br>
                        110-112 Kinh Duong Vuong, Ward 13, District 6, Ho Chi Minh City<br>
                        E-mail: info@boostjuice.com.vn
                    </p>
                    <p><strong>DISCLAIMER</strong></p>
                    <p>24. We shall not be liable for any voluntary disclosure of personal data by you to other users in connection with the use of the Site, as the case may be.</p>
                    <p><strong>CONTACT US</strong></p>
                    <p>25. If you have any questions or concerns about the online Privacy Policy or its implementation, or if you would require further information about the treatment of your personal data by us, please do not hesitate to contact our privacy coordinator at&nbsp;info@boostjuice.com.vn</p>
                </div>
            </div>
        </div>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

