@{
    var culture = CultureInfo.CurrentCulture.Name;
    ViewBag.Title = "Acceptable use policy";

}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }

        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <div class="page" title="Page 1">
            <div class="layoutArea">
                <div class="column">
                    <h1 style="text-align: center;"><span style="color: #70b046;"><strong>ACCEPTABLE USE POLICY</strong></span></h1>
                    <p>Your use of&nbsp;<a href="@Configuration["CurrentDomain"]en" target="_blank" rel="noopener">www.boostjuice.com.vn</a>&nbsp;(the “Site”), is subject to this Acceptable Use Policy set out by Boost Juice VietNam Company Limited (“We”, “Us” or “Our”). If you are found to be in violation of our policies at any time, as determined by us in our sole discretion, we may warn you or suspend or terminate your account. Please note that we may change our Acceptable Use Policy at any time, and pursuant to the Terms of Use, it is your responsibility to keep up-to-date with and adhere to the policies posted on the Site.</p>
                    <p><strong>In using the services provided by us on the Site, you agree not to:</strong></p>
                    <p>1. Violate any law, statute or regulation;</p>
                    <p>2. Participate, engage in or encourage potentially fraudulent, suspicious or illegal activity and/or transactions (e.g. money laundering, gambling) or immoral activities, include but not limited to pornography, prostitution or exploitation of minors;</p>
                    <p>3. Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity or provide false, inaccurate or misleading information;</p>
                    <p>4. Act in a manner that is defamatory, libelous, threatening, harassing or interfere with other users’ enjoyment of the Site;</p>
                    <p>5. Disclose or distribute other user’s (of the Site) personal information to a third party, or use such information for marketing purposes without the express consent of that user;</p>
                    <p>6. Collect information (or allow others to collect) any information of the Site’s users or any personally identifiable information or non-public identification about other users or any other person or entity without their written consent;</p>
                    <p>7. Engage in, nor cause other users of the Site to engage in, spamming, phishing, improper, malicious or, in our absolute discretion, fraudulent clicking, impressions or marketing activities relating to the Site;</p>
                    <p>8. Modify, adapt, reformat, recompile, transmit, publish, license, reverse engineer, disassemble, reconstruct, decompile, copy or create derivative works of, transfer or sell any services on the Site or part thereof, including source codes or algorithms, without first obtaining our written consent or to the extent permitted by law;</p>
                    <p>9. Alter or remove any copyright, trademark or other proprietary rights notices contained in or on the services provided by the Site;</p>
                    <p>10. Reformat or frame any portion of the web pages that are part of the Site’s administration display;</p>
                    <p>11. Decipher, decompile, disassemble, or reverse engineer any of the software on the Site, or in any way used or downloaded from the Site;</p>
                    <p>12. Use any automation software, hacks, mods or any other unauthorized third-party software designed to access, crawl or collect from our services;</p>
                    <p>13. Intentionally distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes or any other items of a destructive or deceptive nature or dispossess or restrict the operation of any hardware or software system;</p>
                    <p>14. Participate, engage in or encourage in spam or bulk mailing, illegal access or sabotage computers or systems; and</p>
                    <p>15. Use any unauthorized third party software that intercepts, “mines” or otherwise collects information from or through us.</p>
                    <p>16. Violate or attempt to infringe the rights of privacy, publicity, copyright, trademark, contract or any other rights of any persons;</p>
                    <p>17. Incorporate or encourage information that you understand is defective or that the behavior is insulting, threatening, obscene, defamatory or abusive;</p>
                    <p>18. Provoke or encourage incitement to racism, intolerance, hatred or harm against any group or individual;</p>
                    <p>19. Provide information that contains nudity, violence or offensive content or contains links to adultery website;</p>
                    <p>20. Plebiscite, designed to collect personal information from anyone under the age of 18;</p>
                    <p>21. Send emails and/or make unsolicited phone calls and/or faxes related to promotion and/or advertisement of products and services to (at least one) user of the Site;</p>
                    <p>22. Impersonate others; and</p>
                    <p>23. Help others violate these terms.</p>
                </div>
            </div>
        </div>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

