<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Boost Juice - Admin Dashboard</title>

    <!-- Favicon -->
    <link href="~/assets/images/logo/favicon.png" rel="shortcut icon">
    <link rel="icon" href="~/assets/images/logo/cropped-iconboostweb-32x32.png" sizes="32x32">
    <link rel="icon" href="~/assets/images/logo/cropped-iconboostweb-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/logo/cropped-iconboostweb-180x180.png">
    <meta name="msapplication-TileImage" content="~/assets/images/logo/cropped-iconboostweb-270x270.png">
    <link href="~/assets/vendors/select2/select2.css" rel="stylesheet">

    <!-- page css -->
    <!-- Core css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
@*     <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
 *@
    <style>
    .ck-editor__editable {font-family: Roboto; }

    .ck-editor__editable ul {
        list-style: disc !important;
        color: #7ac142;
        list-style-position: inside !important;
        
    }


    .ck-editor__editable ol {
        list-style: decimal !important;
        list-style-position: inside !important;

    }
    .ck-editor__editable {
        min-height: 500px;
    }

</style>
<link href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/6.7.7/js/tempus-dominus.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/6.7.7/css/tempus-dominus.min.css" crossorigin="anonymous" /> *@
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
 *@

</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Header START -->
            <div class="header">
                <div class="logo logo-dark">
                    <a href="./">
                        <img src="~/assets/images/logo/boost-juice-logo.png" width="50%" height="50%" alt="Logo">
                        <img class="logo-fold" src="~/assets/images/logo/cropped-iconboostweb-270x270.png" width="85%" height="85%" alt="Logo">
                    </a>
                </div>
                <div class="logo logo-white">
                    <a href="./">
                        <img src="~/assets/images/logo/boost-juice-logo.png" width="50%" height="50%" alt="Logo">
                        <img class="logo-fold" src="~/assets/images/logo/cropped-iconboostweb-270x270.png" width="85%" height="85%" alt="Logo">
                    </a>
                </div>
                <div class="nav-wrap">
                    <ul class="nav-left">
                        <li class="desktop-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                        <li class="mobile-toggle">
                            <a href="javascript:void(0);">
                                <i class="anticon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header END -->
            <!-- Side Nav START -->
            <div class="side-nav">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                        @{
                            var a = User.Claims.Where(x => x.Type == "Role").Select(x => x.Value).FirstOrDefault();
                        }
                        @if(a != null)
                        {
                            @if (a == "AdminRole")
                            {
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-tai-khoan.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-user"></i>
                                        </span>
                                        <span class="title">Tài khoản</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" href="/tat-ca-loai.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-cluster"></i>
                                        </span>
                                        <span class="title">Loại sản phẩm</span>

                                    </a>      
                                </li>
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-danh-muc-con.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-branches"></i>
                                        </span>
                                        <span class="title">Loại dinh dưỡng</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdow">
                                     <a class="dropdown-toggle" href="/tat-ca-size.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-dashboard"></i>
                                        </span>
                                        <span class="title">Size</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-san-pham.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-shop"></i>
                                        </span>
                                        <span class="title">Sản phẩm</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-cua-hang.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-flag"></i>
                                        </span>
                                        <span class="title">Cửa hàng</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/load-file-excel.hmtl">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-file-excel"></i>
                                        </span>
                                        <span class="title">Import File</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle" href="javascript:void(0);">
                                        <span class="icon-holder">
									        <i class="anticon anticon-setting"></i>
								        </span>
                                        <span class="title">Cấu hình web</span>
                                        <span class="arrow">
									        <i class="arrow-icon"></i>
								        </span>
                                    </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>

                                            <a class="dropdown-toggle" href="/tat-ca-cau-hinh-web.html">
                                                Mục cấu hình
                                            </a>
                                        </li>
                                         <li>
                                            <a class="dropdown-toggle" href="/cau-hinh-trang.html">
                                                Cấu hình trang
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            @if (a == "AdminRole" || a == "MarketingRole")
                            {
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-blog.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-book"></i>
                                        </span>
                                        <span class="title">Blog (Sống khỏe)</span>

                                    </a>
                                </li>
                                <li class="nav-item dropdow">
                                    <a class="dropdown-toggle" href="/tat-ca-tin-tuc.html">
                                        <span class="icon-holder">
                                            <i class="anticon anticon-tags"></i>
                                        </span>
                                        <span class="title">Tin tức, Khuyến mãi</span>

                                    </a>
                                </li>                            }
                           
                        }
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="/thong-tin-tai-khoan" style="cursor:pointer">
                                <span class="icon-holder">
                                    <i class="anticon anticon-lock"></i>
                                </span>
                                <span class="title">Cài đặt tài khoản</span>

                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" id="logout" style="cursor:pointer">
                                <span class="icon-holder">
                                    <i class="anticon anticon-logout"></i>
                                </span>
                                <span class="title">Đăng xuất</span>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">


                <!-- Content Wrapper START -->
                <div class="main-content">
                    @RenderBody()
                </div>
                

            </div>
            <!-- Page Container END -->

        </div>
    </div>


    <!-- Core Vendors JS -->
    <script src="~/assets/js/vendors.min.js"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="~/assets/js/app.min.js"></script>
     <script>
        $("#logout").on("click", function () {
            $.ajax({
                url: '/dang-xuat.html',
                type: "post",
                async: true,
                success: function (results) {
                    if (results == "done") {
                                window.location.href = "/dang-nhap.html";

                    }

                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
       
    </Script>
        @await Component.InvokeAsync("Notyf") 
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>