@{
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }

        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <div class="page" title="Page 1">
            <div class="layoutArea">
                <div class="column">
                    <h1 style="text-align: center;"><span style="color: #70b046;"><strong>CHÍNH SÁCH BẢO MẬT</strong></span></h1>
                    <p><strong>ĐIỀU KIỆN CHUNG</strong></p>
                    <p>Công ty TNHH Vạn Xuân FMCG Investment (sau đây được gọi là “Chúng tôi” hoặc “Của Chúng tôi”) là Công ty điều hành trang web&nbsp;<a href="http://www.nuocmamhoanggia.com.vn/">www.boostjuice.com.vn</a>&nbsp;(sau đây được gọi là “Trang Web”) và chúng tôi cam kết bảo vệ dữ liệu thông tin cá nhân của người dùng (sau đây được gọi là “Bạn”) thông qua việc ban hành Chính Sách Bảo Mật (có thể được gọi tắt là “Chính sách”).</p>
                    <p>Chính Sách Bảo Mật này (kết hợp cùng với Điều Khoản Thỏa Thuận của chúng tôi và các văn bản khác được nhắc đến trong chính sách này) giúp cho bạn hiểu được cách thức chúng tôi thu thập thông tin cá nhân của bạn, hoặc thông tin mà bạn cung cấp cho chúng tôi, sẽ được sử dụng, xử lý hoặc tiết lộ bởi chúng tôi, bao gồm cả hình thức sử dụng thông tin vào việc marketing được cá nhân hóa cho từng đối tượng Khách hàng. Chính Sách Bảo Mật này cũng cho bạn biết những loại thông tin nào chúng tôi thu thập, cách chúng tôi bảo mật thông tin, cũng như cách bạn truy cập hoặc thay đổi thông tin của bạn mà chúng tôi lưu trữ. Chính Sách Bảo Mật này bao gồm cả việc sử dụng Trang Web và bất kỳ cách nào khác mà bạn có thể kết nối hoặc tương tác với chúng tôi thông qua việc sử dụng Trang Web và dịch vụ của chúng tôi.</p>
                    <p>Xin vui lòng đọc cẩn thận chính sách dưới đây để hiểu rõ hơn về chính sách và điều lệ của chúng tôi về việc thu thập thông tin cá nhân của bạn và cách chúng tôi xử lý thông tin đó.</p>
                    <p>Nếu như không bị giới hạn bởi luật hiện hành, bạn đồng ý rằng bất kỳ và tất cả thông tin cá nhân liên quan đến bạn được thu thập bởi chúng tôi hoặc cung cấp bởi bạn bất kỳ thời điểm nào đều được sử dụng, xử lý, và tiết lộ cho những mục đích và các bên được quy định trong Chính Sách Bảo Mật này.</p>
                    <p>Chúng tôi có thể điều chỉnh Chính Sách Bảo Mật này vào bất kỳ thời điểm nào bằng việc đăng và cập nhật chính sách đã được điều chỉnh trên Trang Web. Tuy nhiên, sẽ không có bất kỳ thông báo nào gửi đến cho bạn. Các thay đổi của Chính sách sẽ có hiệu lực ngay lập tức khi được đăng trên Trang Web. Nếu như bạn tiếp tục truy cập và sử dụng Trang Web và dịch vụ của chúng tôi sau khi việc điều chỉnh đã có hiệu lực, bạn sẽ được coi là đã xác nhận và đồng ý với Chính sách đã được điều chỉnh. Bạn nên thường xuyên kiểm tra và cập nhật Chính sách mới nhất khi sử dụng Trang Web.</p>
                    <p>
                        <strong>THÔNG TIN CHÚNG TÔI THU THẬP</strong><br>
                        1. Bạn có thể sử dụng và truy cập Trang Web mà không cần cung cấp thông tin cá nhân của bạn. Bạn sẽ không phải cung cấp thông tin cá nhân như một điều kiện để sử dụng Trang Web, ngoại trừ trường hợp khi cần thiết để giúp chúng tôi cung cấp dịch vụ cho bạn để đáp ứng các yêu cầu của bạn, hoặc trong trường hợp bạn liên lạc trực tiếp với chúng tôi.
                    </p>
                    <p>2. Chúng tôi thu thập thông tin cá nhân của bạn như họ tên, địa chỉ điện tử email, số điện thoại nhà/số điện thoại di động và địa chỉ nhà, khi bạn cung cấp cho chúng tôi chỉ trong những trường hợp dưới đây:</p>
                    <ul>
                        <li>Khi bạn tiến hành giao dịch với chúng tôi trên hoặc liên quan đến Trang Web;</li>
                        <li>Khi bạn đăng ký tài khoản với chúng tôi trên Trang Web;</li>
                        <li>Khi bạn liên lạc với dịch vụ khách hàng hoặc nhân viên kinh doanh của chúng tôi qua email, điện thoại, hoặc trực tiếp, để giải quyết bất kỳ vấn đề nào mà bạn đang gặp phải hoặc giải quyết câu hỏi và yêu cầu của bạn; và</li>
                        <li>Khi bạn đăng ký dịch vụ mà chúng tôi đang cung cấp trên Trang Web, hoặc cho các dịch vụ thông báo qua email hoặc/và bản tin newsletter.</li>
                    </ul>
                    <p>3. Chúng tôi có thể thu thập một số thông tin trong quá trình bạn sử dụng Trang Web bao gồm, nhưng không giới hạn, dữ liệu truy cập, dữ liệu vị trí địa lý, và nguồn thông tin bạn đang truy cập. Những thông tin này là thông tin phi cá nhân, không phải thông tin nhận dạng cá nhân (có nghĩa là không thể sử dụng trong việc nhận dạng danh tín của bạn) và có thể được chúng tôi sử dụng, hoặc bên thứ ba trong việc cá nhân hóa thông tin dùng trong marketing cho riêng bạn. Để biết thêm chi tiết trong việc xóa bỏ cách thức cung cấp thông tin này, vui lòng xem mục “Cookies” của Chính Sách Bảo Mật.</p>
                    <p>
                        <strong>MỤC ĐÍCH SỬ DỤNG</strong><br>
                        4. Thông tin cá nhân mà bạn cung cấp có thể được chúng tôi sử dụng và xử lý tổng hợp hoặc riêng lẻ và có thể được kết hợp với những thông tin khác với mục đích quản lý và điều hành Trang Web, phạm vi của các mục đích này bao gồm nhưng không giới hạn những điều sau:
                    </p>
                    <ul>
                        <li>Quản lý Trang Web;</li>
                        <li>Cải thiện trải nghiệm trình duyệt của bạn bằng cách cá nhân hóa Trang Web;</li>
                        <li>Cho phép bạn sử dụng những dịch vụ có sẵn trên Trang Web;</li>
                        <li>Cung cấp cho bạn những dịch vụ mà bạn yêu cầu riêng;</li>
                        <li>Phản hồi những câu hỏi hoặc yêu cầu theo những email bạn gửi cho chúng tôi hoặc/và các mẫu đơn thông tin trên Trang Web;</li>
                        <li>Phản hồi và tiến hành các quy trình tiếp theo về các khiếu nại liên quan đến việc sử dụng Trang Web hoặc bất kỳ dịch vụ nào mà chúng tôi cung cấp;</li>
                        <li>Gửi cho bạn những thông tin chung bao gồm các thông tin công ty, thông tin chương trình tiếp thị hoặc cập nhật mới nhất về sản phẩm và dịch vụ của chúng tôi;</li>
                        <li>Tiến hành các vấn đề liên quan đến văn phòng, hành chính; và</li>
                        <li>Cung cấp cho các bên thứ ba thông tin thống kê về Khách hàng truy cập của chúng tôi. Những thông tin thống kê này được sử dụng để cá nhân hóa chính sách tiếp thị trên Trang Web, nhưng không thể sử dụng trong việc xác định bất kỳ danh tính của cá nhân sử dụng nào. Để biết thêm chi tiết cách thức xóa bỏ dịch vụ tiếp thị cá nhân hóa, vui lòng xem mục “Cookies” của Chính Sách Bảo Mật này.</li>
                    </ul>
                    <p>5. Chúng tôi sẽ không, nếu khi không có sự xác nhận của bạn, tiết lộ thông tin cá nhân của bạn cho các bên thứ ba với mục đích Direct Marketing (Tiếp thị Trực tiếp). Việc đồng ý xác nhận tiết lộ thông tin cá nhân cho các bên thứ ba, với mục đích tiếp nhận thông tin tiếp thị, được cung cấp thông qua mẫu đơn đăng ký của chúng tôi, qua trực tuyến hay cả văn bản. Bạn có thể rút lại việc đồng ý tiếp nhận thông tin tiếp thị bằng cách liên lạc với bộ phận dịch vụ khách hàng của chúng tôi:&nbsp;<a href="https://boostjuice.com.vn/lien-he/">Liên hệ chúng tôi</a>.</p>
                    <p>
                        <strong>AN NINH THÔNG TIN</strong><br>
                        6. Để ngăn chặn tình trạng truy cập trái phép, duy trì tính chính xác của dữ liệu và đảm bảo sử dụng đúng mục đích các thông tin, chúng tôi áp dụng các quy trình quản lý điện tử để đảm bảo an ninh và bảo vệ các thông tin chúng tôi tiếp nhận trực tuyến. Những biện pháp bảo vệ này được thay đổi linh hoạt dựa vào mức độ nhạy cảm của thông tin mà chúng tôi thu thập và lưu trữ.
                    </p>
                    <p>
                        7. Tính an ninh của những thông tin cá nhân bạn gửi cho chúng tôi trong hoặc thông qua Trang Web là điều quan tâm nhất với chúng tôi. Chúng tôi đã thiết lập một số công nghệ bảo vệ tại chỗ để đảm bảo rằng quá trình giao dịch trên Trang Web là cực kỳ an toàn và thông tin của bạn được bảo mật đến mức tối đa. Chúng tôi sử dụng nhiều công nghệ bảo mật khác nhau nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn. Chúng tôi sẽ tiếp tục tiếp cận công nghệ mới để củng cố và gia tăng khả năng đảm bảo an toàn cho các thông tin của bạn.<br>
                        Tuy nhiên, mong bạn lưu ý rằng không ai có thể đảm bảo tính an toàn tuyệt đối khi truyền dữ liệu trên Internet và việc bảo vệ Khách hàng luôn yêu cầu sự hợp tác từ hai phía. Vì thế, Bạn cần nhận thức và hiểu rõ rằng các rủi ro khi truyền thông tin cá nhân là của người dùng. Chúng tôi nỗ lực bằng mọi cách để bảo vệ an toàn thông tin trên hệ thống của chúng tôi nhưng không thể chịu trách nhiệm đảm bảo thông tin cho cá nhân bạn.
                    </p>
                    <p>8. Khi chúng tôi đã cung cấp cho bạn (hoặc bạn đã tự chọn) một mật khẩu cho phép bạn truy cập một số vùng tương tác nhất định trên Trang Web, bạn sẽ phải chịu trách nhiệm trong việc bảo mật mật khẩu này. Chúng tôi sẽ không yêu cầu bạn chia sẻ mật khẩu này với bất kỳ ai. Chúng tôi sẽ không bao giờ hỏi mật khẩu của bạn chỉ trừ khi bạn đăng nhập vào Trang Web, tùy vào từng trường hợp.</p>
                    <p>
                        <strong>VIỆC TIẾT LỘ THÔNG TIN CÁ NHÂN</strong><br>
                        9. Nhằm mục đích quản lý và vận hành Trang Web, chúng tôi có thể sẽ tiết lộ thông tin cá nhân của bạn cho các nhà cung cấp dịch vụ hoặc đối tác mà chúng tôi đang hợp tác để thay mặt chúng tôi thực hiện một số chức năng liên quan đến công việc. Việc này có thể bao gồm những nhà cung cấp dịch vụ dưới đây:
                    </p>
                    <ul>
                        <li>Tiến hành nghiên cứu và phân tích;</li>
                        <li>Tạo nội dung;</li>
                        <li>Cung cấp hỗ trợ khách hàng, kĩ thuật hoặc điều hành;</li>
                        <li>Thực hiện hoặc hỗ trợ chiến dịch marketing (như email hoặc quảng cáo);</li>
                        <li>Hoàn thành yêu cầu của người truy cập;</li>
                        <li>Duy trì dữ liệu; và</li>
                        <li>Hỗ trợ chúng tôi gửi thông tin tiếp thị qua trực tuyến hoặc điện thoại.</li>
                    </ul>
                    <p>10. Chúng tôi cũng có thể tiết lộ thông tin cá nhân của bạn cho bên thứ ba như nhà cung cấp dịch vụ hoặc tư vấn chuyên môn nhằm mục đích dưới đây:</p>
                    <ul>
                        <li>Tuân thủ bất kỳ yêu cầu pháp lý nào từ cơ quan nhà nước có thẩm quyền;</li>
                        <li>Để thi hành hoặc áp dụng Điều Khoản Thỏa Thuận;</li>
                        <li>Trong trường hợp chúng tôi tin rằng việc tiết lộ sẽ góp phần bảo vệ quyền lợi, tài sản và sự an toàn của chúng tôi và quyền lợi, tài sản và sự an toàn của các công ty con, công ty thành viên và chi nhánh, những người sử dụng khác của Trang Web, và những bên khác;</li>
                        <li>Ngăn chặn tội phạm hoặc bảo vệ an ninh quốc gia;</li>
                        <li>Liên quan đến những thủ tục tố tụng pháp lý hoặc tiến trình tố tụng; và</li>
                        <li>Liên quan đến giao dịch tài sản của công ty (như việc thu mua, bán, cho thuê, sáp nhập, hợp nhất hoặc mua bán, thanh lý, tài trợ cho một tổ chức hoặc một phần của một tổ chức hoặc bất kỳ hoạt động kinh doanh hoặc tài sản nào của một tổ chức) trong đó chúng tôi là một bên tham gia hoặc là bên tham gia trong tương lai.</li>
                    </ul>
                    <p>11. Chúng tôi có thể sẽ chia sẻ thông tin cá nhân của bạn với các bên thứ ba (như nhà cung cấp dịch vụ, nhà tiếp thị quảng cáo, mạng tiếp thị và đại lý, các nhà tiếp thị khác, nhà xuất bản tạp chí, nhà bán lẻ, cơ sở dữ liệu và tổ chức phi lợi nhuận) có ý muốn giới thiệu sản phẩm hoặc dịch vụ đến cho bạn.</p>
                    <p>12. Trong trường hợp chúng tôi chia sẻ các thông tin này, các bên thứ ba/ đối tác sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ phải tuyệt đối tuân thủ theo nguyên tắc xử lý các thông tin kinh doanh này một cách tuyệt mật và chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành công việc hoặc dự án. Họ phải chịu sự chi phối của nghĩa vụ bảo mật nghiêm ngặt trong hợp đồng và có thể bị kỷ luật hoặc chấm dứt hợp đồng nếu họ không tuân theo các nghĩa vụ đó.</p>
                    <p>13. Trong trường hợp phát triển và tái cơ cấu kinh doanh, công ty chúng tôi có thể sẽ sáp nhập, hợp nhất, hoặc được mua lại bởi một công ty khác. Trong quá trình chuyển giao này, thông tin cá nhân của bạn có thể được xem xét trở thành tài sản kinh doanh và được chuyển giao cho một công ty khác. Việc sử dụng thông tin chuyển giao phải tuân theo các Chính Sách Bảo Mật tại thời điểm chuyển giao.</p>
                    <p>
                        <strong>ĐỊA CHỈ IP (ĐỊA CHỈ GIAO THỨC INTERNET)</strong><br>
                        14. Khi bạn sử dụng Trang Web, chúng tôi sẽ thu thập và lưu trữ thông tin về máy tính của bạn, bao gồm địa chỉ IP, hệ điều hành, loại trình duyệt của bạn và ngày, thời gian của mỗi ngày của lượt truy cập nhằm quản trị hệ thống. Những thông tin dữ liệu thống kê về hành vi trình duyệt này sẽ không thể xác định danh tính của bất kỳ cá nhân nào.
                    </p>
                    <p>
                        <strong>COOKIES VÀ CÁC CÔNG NGHỆ TƯƠNG TỰ</strong><br>
                        15. Cookies được sử dụng để phân biệt bạn với những người sử dụng khác của Trang Web. Để cải thiện trải nghiệm trình duyệt của người dùng, chúng tôi và đối tác của chúng tôi sử dụng “cookies”, “web beacons” hoặc những công nghệ nhận dạng hành vi khác. Cookies là các tập tin văn bản được lưu trữ trên ứng dụng trình duyệt trong máy tính của bạn để lưu trữ thông tin của bạn. Chúng tôi dùng cookies hoặc các công nghệ nhận dạng hành vi khác nhằm hiểu rõ thêm về việc sử dụng dịch vụ và Internet để cải thiện hoặc tùy chỉnh nội dung, dịch vụ hoặc tiếp thị trên Trang Web hoặc trên các trang website khác. Tất cả cookies chúng tôi gửi đến cho bạn qua Trang Web được mặc định sẽ hết hạn trong vòng 1 năm.
                    </p>
                    <p>16. Chúng tôi cũng cho phép một số bên thứ ba nhất định thu thập thông tin về hoạt động trực tuyến của bạn thông qua cookies và những công nghệ nhận dạng hành vi khác trong quá trình bạn sử dụng Trang Web. Những bên thứ ba này bao gồm:</p>
                    <ul>
                        <li>Những đối tác kinh doanh, những nhà thu thập thông tin khi bạn đang trình duyệt hoặc tương tác với một trong những tiếp thị quảng cáo của họ trên Trang Web; và</li>
                        <li>Mạng lưới tiếp thị, những nhà thu thập thông tin về sở thích của bạn khi bạn đang trình duyệt hoặc tương tác với một trong những tiếp thị quảng cáo của họ đặt tại nhiều trang website khác nhau trên Internet.</li>
                    </ul>
                    <p>Những thông tin được thu thập bởi những bên thứ ba này là những thông tin phi cá nhân không thể nhận dạng, được sử dụng để đưa ra những dự đoán về tính cách, sở thích hoặc đặc điểm của bạn dùng để điều chỉnh hiển thị của các mục tiếp thị quảng cáo trên Trang Web và Internet phù hợp với sở thích của bạn.</p>
                    <p>17. Xin lưu ý rằng các bên thứ ba được đề cập phía trên có thể tự thiết lập công nghệ nhận dạng hành vi riêng của họ khi bạn truy cập Trang Web và họ có thể truy cập thông tin về bạn và hoạt động trực tuyến của bạn theo thời gian và thông qua những trang website và ứng dụng khác khi bạn sử dụng Trang Web. Việc sử dụng các công nghệ nhận dạng này không nằm trong tầm kiểm soát của chúng tôi và phải tuân theo Chính Sách Bảo Mật của riêng họ.</p>
                    <p>18. Bằng việc truy cập Trang Web, cho dù dưới dạng thành viên đã đăng ký hoặc cách khác, bạn thừa nhận, và đồng ý rằng bạn đã xác nhận với chúng tôi về việc theo dõi hoạt động và việc sử dụng Trang Web của bạn thông qua các công nghệ được mô tả như trên cũng như các công nghệ tương tự được phát triển trong tương lai, và việc chúng tôi sử dụng công nghệ này trong những email chúng tôi gửi cho bạn.</p>
                    <p>19. Hầu hết các trình duyệt web đều được thiết lập chấp nhận cookies. Bạn có thể điều chỉnh trình duyệt của bạn để thông báo với bạn trước khi chấp nhận bất kỳ cookies nào hoặc từ chối một số cookies nhất định. Để loại bỏ cookies, hãy truy cập vào:&nbsp;<a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a>. Bạn có thể quản lý loại cookies được phép thông qua cài đặt trình duyệt của bạn, bao gồm chặn hoàn toàn tất cả cookies nếu như bạn muốn. Tuy nhiên, nếu như bạn vô hiệu hóa việc sử dụng trong trình duyệt web của bạn, một số tính năng của Trang Web sẽ khó sử dụng hoặc không thể thực hiện được. Để biết thêm chi tiết về cách quản lý cookies trong trình duyệt của bạn, vui lòng xem mục “Trợ giúp” của trình duyệt mà bạn đang sử dụng.</p>
                    <p>
                        <strong>TRANG WEB CỦA CÁC BÊN THỨ BA VÀ DỊCH VỤ LIÊN KẾT</strong><br>
                        20. Trang Web có thể, bất cứ lúc nào, chứa các đường dẫn liên kết đến và từ các trang website khác của đối tác và nhà cung cấp của chúng tôi. Nếu như bạn truy cập đường dẫn đến bất kỳ trang nào của những trang website này, xin lưu ý rằng những trang website này có Chính Sách Bảo Mật riêng của họ và chúng tôi không chịu bất kỳ trách nhiệm hoặc nghĩa vụ nào của các chính sách này. Xin kiểm tra những chính sách này trước khi bạn cung cấp bất kỳ thông tin cá nhân cho những trang website này.
                    </p>
                    <p>21. Trang Web chứa các đường dẫn hoặc tích hợp với các dịch vụ khác như Facebook, Twitter, LinkedIn, YouTube và các dịch vụ và nền tảng truyền thông xã hội khác mà quy chế thông tin của họ có thể khác so với của chúng tôi. Người dùng nên tham khảo thông báo về quyền riêng tư của những dịch vụ này bởi vì chúng tôi không nắm quyền kiểm soát thông tin được cung cấp cho, hoặc thu thập bởi, những bên thứ ba này.</p>
                    <p>
                        <strong>TRUY CẬP VÀ CẬP NHẬT THÔNG TIN</strong><br>
                        22. Bạn có thể truy cập vào một số thông tin cá nhân nhất định của bạn đã được thu thập từ Trang Web của chúng tôi mà chúng tôi đang lưu trữ. Bất cứ thời điểm nào bạn cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản của bạn trên Trang Web.
                    </p>
                    <p>23. Ngoài ra, tất cả mọi yêu cầu về thông tin hoặc yêu cầu về thay đổi thông tin cá nhân mà chúng tôi lưu trữ về truy cập thông tin hoặc cập nhật thông tin cá nhân đều có thể gửi qua email hoặc văn bản đến địa chỉ như dưới. Xin vui lòng bao gồm thông tin đăng ký của bạn bao gồm họ tên, địa chỉ email trong yêu cầu của bạn. Chúng tôi có thể sẽ yêu cầu bạn cung cấp thêm một số thông tin khác nhằm mục đích xác minh danh tính, hoặc nhằm chứng minh rằng bạn sở hữu tài khỏan email đạt yêu cầu.</p>
                    <p>
                        <strong>
                            Công ty TNHH Vạn Xuân FMCG Investment<br>
                        </strong>Người nhận: Bộ phận Bảo mật thông tin<br>
                        110-112 Kinh Dương Vương, Phường 13, Quận 6, TP.HCM<br>
                        Email:&nbsp;info@boostjuice.com.vn
                    </p>
                    <p>
                        <strong>&nbsp;</strong><strong>TUYÊN BỐ MIỄN TRỪ TRÁCH NHIỆM</strong><br>
                        24. Chúng tôi sẽ không chịu trách nhiệm với bất kỳ sự tiết lộ thông tin cá nhân mang tính tự nguyện từ bạn đến những người dùng khác trong quá trình sử dụng Trang Web, tùy vào từng trường hợp.
                    </p>
                    <p>
                        <strong>LIÊN HỆ</strong><br>
                        25. Trong trường hợp bạn có câu hỏi hoặc thắc mắc về Chính Sách Bảo Mật trực tuyến hoặc việc triển khai chính sách, hoặc bạn có yêu cầu chúng tôi cung cấp thêm thông tin về việc xử lý dữ liệu thông tin cá nhân của bạn, vui lòng liên hệ với Bộ phận Bảo mật thông tin tại&nbsp;info@boostjuice.com.vn
                    </p>
                </div>
            </div>
        </div>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

