@{
    var culture = CultureInfo.CurrentCulture.Name;
    ViewBag.Title = "Chính sách sử dụng";

}
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }

        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <div class="page" title="Page 1">
            <div class="layoutArea">
                <div class="column">
                    <h1 style="text-align: center;">
                        <span style="color: #70b046;">
                            <strong>
                                CHÍNH SÁCH SỬ DỤNG ĐƯỢC<br>
                                CHẤP NHẬN
                            </strong>
                        </span>
                    </h1>
                    <p>Việc bạn sử dụng&nbsp;<a href="https://boostjuice.com.vn/">www.boostjuice.com.vn</a>&nbsp;(sau đây được gọi là “Trang Web”) phải tuân theo Chính Sách Sử Dụng Được Chấp Nhận của Công ty TNHH Vạn Xuân FMCG Investment (sau đây được gọi là “Chúng tôi” hoặc “Của Chúng tôi”). Nếu như chúng tôi phát hiện bạn vi phạm Chính sách của chúng tôi vào bất kỳ lúc nào, chúng tôi có toàn quyền quyết định cảnh báo bạn hoặc tạm dừng hoặc chấm dứt tài khoản của bạn. Xin lưu ý chúng tôi sẽ thay đổi, điều chỉnh Chính Sách Sử Dụng Được Chấp Nhận vào bất kỳ thời điểm nào, và theo như Điều Khoản Thỏa Thuận, bạn có trách nhiệm cập nhập và tuân thủ theo các chính sách được đăng tại Trang Web.</p>
                    <p><strong>Trong quá trình sử dụng các dịch vụ được cung cấp bởi chúng tôi trên Trang Web, bạn đồng ý sẽ không:</strong></p>
                    <p>1. Vi phạm bất kỳ luật, quy chế hoặc quy định nào;</p>
                    <p>2. Tham gia, thúc đẩy hoặc khuyến khích các hoạt động và/hoặc giao dịch có nguy cơ gian lận, bất hợp pháp (ví dụ như rửa tiền, cờ bạc) hoặc trái đạo đức, bao gồm nhưng không giới hạn hoạt động khiêu dâm, mại dâm hay bóc lột trẻ vị thành niên;</p>
                    <p>3. Mạo danh bất kỳ cá nhân hoặc tổ chức nào, hoặc tuyên bố hoặc diễn đạt sai sự thật về mối quan hệ của bạn với một cá nhân hay tổ chức hoặc cung cấp thông tin sai lệch không chính xác, gây hiểu nhầm;</p>
                    <p>4. Có hành động gây phiền phức, đe dọa, quấy rối, ảnh hưởng hoặc cản trở đến việc sử dụng Trang Web của người dùng khác;</p>
                    <p>5. Tiết lộ hoặc truyền tải thông tin cá nhân của những người dùng khác (của Trang Web) với một bên thứ ba, hoặc sử dụng thông tin này với mục đích tiếp thị mà không có sự cho phép, xác nhận của người dùng đó.</p>
                    <p>6. Thu thập (hay cho phép người khác thu thập) bất cứ Nội dung người dùng nào hay bất cứ thông tin nhận dạng cá nhân hoặc thông tin nhận dạng không công khai nào về Người dùng khác hoặc bất cứ cá nhân hay tổ chức nào mà không có sự đồng ý bằng văn bản của họ;</p>
                    <p>7. Tham gia vào, hoặc gây ảnh hưởng lên người sử dụng khác của Trang Web tham gia vào các hoạt động tiếp thị hoặc ảnh hưởng, mà theo quyết định của chúng tôi, có biểu hiện lừa đảo, đánh cắp thông tin, không đứng đắn, cố tình gây hại;</p>
                    <p>8. Sửa đổi, áp dụng, tái định dạng, tái biên dịch, truyền tải, xuất bản, cấp phép, đảo ngược kỹ thuật, tháo rời, tái tạo, sao chép hoặc tạo ra các sản phẩm phát sinh, chuyển nhượng hoặc buôn bán bất kỳ dịch vụ nào của Trang Web hoặc một phần của trang, bao gồm mã nguồn hoặc giải thuật mã hóa, khi chưa nhận được sự xác nhận của chúng tôi bằng văn bản hoặc trong phạm vi pháp luật cho phép.</p>
                    <p>9. Thay đổi hoặc xóa bỏ bất kỳ thông báo bản quyền, thương hiệu hoặc các quyền sở hữu khác có trong hoặc trên các dịch vụ được cung cấp bởi Trang Web;</p>
                    <p>10. Tái định dạng hoặc đóng khung bất kỳ phần nào của các Trang Web là một phần của màn hình quản trị của Trang Web;</p>
                    <p>11. Giải mã, biên dịch hồi phục, tháo rời, hoặc đảo ngược thiết kế của bất kỳ phần mềm nào trên Trang Web, hoặc bất kỳ phần mềm nào có thể sử dụng được hoặc tải xuống từ Trang Web;</p>
                    <p>12. Sử dụng bất kỳ phần mềm tự động hóa, hack, chức năng lập trình hoặc bất kỳ phần mềm trái phép nào của bên thứ ba được thiết kế để truy cập, thu thập dữ liệu từ những dịch vụ của chúng tôi;</p>
                    <p>13. Cố ý phát tán virus, phần mềm độc hại worm, Trojan horse, tập tin bị hư hỏng, chương trình chơi khăm hoặc bất kỳ phần mềm nào mang bản chất phá hoại hoặc lừa đảo hoặc chiếm đoạt hoặc hạn chế khả năng hoạt động của bất kỳ phần cứng hay phần mềm nào;</p>
                    <p>14. Thúc đẩy, khuyến khích hay tham gia vào hoạt động phát tán thư rác hay gửi thư số lượng lớn, xâm nhập bất hợp pháp hay phá hoại máy tính hoặc hệ thống; và</p>
                    <p>15. Sử dụng bất kỳ phần mềm trái phép nào của bên thứ ba để ngăn chặn quá trình thu thập hoặc tìm kiếm thông tin dữ liệu từ hoặc thông qua chúng tôi;</p>
                    <p>16. Vi phạm hoặc cố gắng để xâm phạm quyền riêng tư, quyền công khai, quyền tác giả, quyền nhãn hiệu, quyền hợp đồng hoặc bất kỳ quyền của bất kỳ người nào;</p>
                    <p>17. Cấu thành hoặc khuyến khích các thông tin mà bạn biết là sai lệch hoặc hành vi đó là lăng mạ, đe dọa, khiêu dâm, nói xấu hoặc bôi nhọ;</p>
                    <p>18. Gây kích động hoặc khuyến khích gây kích động phân biệt chủng tộc, sự cố chấp, thù hận hoặc gây tổn hại, chống lại bất kỳ nhóm hoặc cá nhân;</p>
                    <p>19. Cung cấp những thông tin chứa ảnh khỏa thân, bạo lực, hay vấn đề gây khó chịu hoặc có chứa một liên kết đến một trang web dành cho người lớn;</p>
                    <p>20. Trưng cầu, thiết kế để thu thập thông tin cá nhân từ bất cứ ai dưới 18 tuổi;</p>
                    <p>21. Gửi e-mail và/hoặc thực hiện những cuộc gọi và/hoặc gửi fax gạ gẫm liên quan đến việc xúc tiến và/hoặc quảng cáo sản phẩm hoặc dịch vụ đến (ít nhất một) người sử dụng của Trang Web chúng tôi;</p>
                    <p>22. Hành động mạo nhận người khác; và</p>
                    <p>23. Giúp người khác vi phạm các quy tắc này.</p>
                </div>
            </div>
        </div>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

