@{
    var culture = CultureInfo.CurrentCulture.Name;

}
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }

        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <h1 style="text-align: center;"><span style="color: #70b046;"><strong>ĐIỀU KHOẢN THỎA THUẬN</strong></span></h1>
        <p>
            <strong>
                CHẤP NHẬN THỎA THUẬN<br>
            </strong><a href="https://boostjuice.com.vn/">www.boostjuice.com.vn</a>&nbsp;(sau đây được gọi là “Trang Web”) được sở hữu và điều hành bởi Công ty TNHH Vạn Xuân FMCG Investment (sau đây được gọi là “Chúng tôi” hoặc “Của Chúng tôi”). Những điều kiện được quy định tại Điều Khoản Thỏa Thuận được áp dụng cho tất cả các dịch vụ, bao gồm thông tin, phương tiện kết nối, các đường dẫn, phần mềm, bản tin e-newsletter điện tử, sản phẩm bất động sản, dịch vụ và các công cụ khác và tất cả các dịch vụ có thể được bổ sung thêm, được tặng và cung cấp thêm (sau đây được gọi là “Dịch vụ”) cho người dùng (sau đây được gọi là “Bạn”) thông qua Trang Web tùy từng thời điểm.<strong>
                <br>
            </strong>
        </p>
        <p>Bằng việc truy cập và sử dụng Trang Web, bạn đã chấp nhập tuân thủ và chịu sự ràng buộc pháp lý bởi các Điều Khoản Thỏa Thuận.</p>
        <p>Bạn chấp nhận không giới hạn các điều khoản của Điều Khoản Thỏa Thuận, bao gồm cả Chính Sách Bảo Mật.</p>
        <p>Bạn đồng ý chấp thuận, đồng thời không đề xuất bất kỳ hạn chế nào đối với Điều khoản sử dụng, bao gồm cả Chính Sách Bảo Mật.</p>
        <p>Những điều khoản thỏa thuận này có thể được điều chỉnh và cập nhật vào bất kỳ thời điểm nào bằng việc cập nhật Điều Khoản Thỏa Thuận trên Trang Web và việc tiếp tục sử dụng Trang Web sẽ được xem là sự đồng ý của bạn và chấp nhận ràng buộc trách nhiệm của bản Điều Khoản Thỏa Thuận đã được cập nhật và điều chỉnh. Bạn có thể đọc bản Điều Khoản Thỏa Thuận mới nhất tại&nbsp;<a href="https://boostjuice.com.vn/dieu-khoan-thoa-thuan/">đây</a>. Trong trường hợp bạn không đồng ý với các điều khoản thỏa thuận mới được cập nhật, xin vui lòng ngưng sử dụng tất cả các Dịch vụ của Trang Web.</p>
        <p>Ngoài ra, một số dịch vụ riêng được thêm, tặng, hoặc cung cấp thông qua Trang Web, có thể sẽ phụ thuộc vào hướng dẫn hoặc/và quy tắc bổ sung thêm. Những hướng dẫn hoặc/và quy tắc bổ sung thêm sẽ được kết hợp vào Điều Khoản Thỏa Thuận này.</p>
        <p>
            <strong>
                TRÁCH NHIỆM SỬ DỤNG TRANG WEB<br>
            </strong>Bạn đồng ý sẽ tuân thủ theo <a href="https://boostjuice.com.vn/chinh-sach-su-dung-duoc-chap-nhan/" target="_blank" rel="noopener">Chính Sách Sử Dụng Được Chấp Nhận</a> trong quá trình sử dụng Trang Web. Chúng tôi có toàn quyền xóa bỏ những thông tin mà bạn cung cấp trong Trang Web nếu chúng tôi nghi ngờ rằng bạn đã vi phạm <a href="https://boostjuice.com.vn/chinh-sach-su-dung-duoc-chap-nhan/" target="_blank" rel="noopener">Chính Sách Sử Dụng Được Chấp Nhận</a>.<strong>
                <br>
            </strong>
        </p>
        <p>Trong quá trình giao dịch với chúng tôi tại hoặc liên quan đến Trang Web hoặc đăng ký một tài khoản trên Trang Web, bạn đã đảm bảo rằng:</p>
        <ul>
            <li>Bạn đã trên 18 tuổi;</li>
            <li>Bạn sử dụng danh tính thật của bạn;</li>
            <li>Thông tin cá nhân bạn cung cấp cho chúng tôi là đúng, chính xác, hoàn chỉnh và đang hiện hành; và</li>
            <li>Bạn sẽ duy trì và cập nhật kịp thời các thông tin chi tiết cá nhân và đảm bảo rằng những thông tin này luôn đúng, chính xác, hoàn chỉnh và đang hiện hành.</li>
        </ul>
        <p>Đối tượng truy cập dưới 18 tuổi không đủ điều kiện để sử dụng Trang Web hoặc cung cấp bất kỳ thông tin cá nhân cho Trang Web mà không có sự giám sát. Nếu bạn dưới 18 tuổi, bạn có thể sử dụng Trang Web hoặc/và cung cấp bất kỳ thông tin cá nhân chỉ khi bạn đã được sự đồng thuận từ cha mẹ/người giám hộ hợp pháp hoặc dưới sự giám sát của cha mẹ/người giám hộ hợp pháp.</p>
        <p>Nếu bạn tham gia vào Thỏa thuận này với tư cách là đại diện cho một tổ chức, bạn thể hiện và đảm bảo rằng bạn có quyền hợp pháp để ràng buộc tổ chức đó với các điều khoản và điều kiện của Thỏa thuận này. Trong trường hợp này, các thuật ngữ “Bạn”, “Của Bạn”, “Người dùng” hay “Khách hàng” được hiểu là tổ chức đó.</p>
        <p>Trong trường hợp chúng tôi đã bàn giao (hoặc bạn đã chọn) mật khẩu cho phép bạn truy cập một số vùng tương tác trong Trang Web, bạn đã chấp nhận rằng bạn hoàn toàn chịu trách nhiệm trong việc duy trì bảo mật mật khẩu của bạn, và các hoạt động diễn ra dưới tài khoản của bạn.</p>
        <p>Bạn đồng ý trong việc thông báo chúng tôi về bất kỳ vi phạm bảo mật mật khẩu của bạn.</p>
        <p>Chúng tôi sẽ không chịu trách nhiệm cho bất kỳ tổn thất hoặc thiệt hại phát sinh từ việc bạn không tuân thủ quy định của điều khoản “Trách Nhiệm Sử Dụng Trang Web” này.</p>
        <p>
            <strong>
                CÁC NỘI DUNG LIÊN KẾT<br>
            </strong>Trang Web và Dịch vụ cung cấp cho bạn các cơ hội để dẫn đến, hoặc sử dụng các trang website và dịch vụ khác được cung cấp bởi bên thứ ba. Việc sử dụng và truy cập các dịch vụ các bên thứ ba cung cấp sẽ căn cứ vào những điều khoản được đăng bởi các bên thứ ba này. Chúng tôi không kiểm soát bất kỳ trang website của bên thứ ba nào và chúng tôi không có trách nhiệm về những thay đổi về dịch vụ của các bên thứ ba hoặc về nội dung trên các trang website của bên thứ ba, bao gồm, nhưng không giới hạn, bất kỳ đường dẫn nào chứa hoặc truy cập vào các dịch vụ của bên thứ ba. Những đường dẫn này được cung cấp chỉ nhằm mục đích tiện ích cho bạn. Bạn cần phải đưa ra đánh giá một cách độc lập, khách quan về sự tương tác của bạn với các trang website hoặc dịch vụ của các bên thứ ba. Sự tích hợp quảng cáo của chúng tôi, hoặc đường dẫn đến trang website/dịch vụ của bên thứ ba là không phải là một sự chứng thực, ủy quyền, tài trợ, hoặc sáp nhập liên quan đến các trang web này, chủ sở hữu của chúng, hoặc các nhà cung cấp.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                CHÚ Ý<br>
            </strong>Bạn theo đây xác nhận và đồng ý rằng:<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>Tất cả các kênh giao tiếp qua điện tử được thực hiện qua việc sử dụng Trang Web đều có hiệu lực pháp lý, và có thể thực thi được và sẽ là, giữa hai bên của Điều Khoản Thỏa Thuận này, giá trị bằng chứng có thể đối chiếu, so sánh được với văn bản đã ký kết.</li>
            <li>Không được phản đối bản chất ràng buộc pháp lý, hiệu lực và có thể thực thi được của bất kỳ giao dịch nào trên Trang Web với lý do nó đã được nhập qua thiết bị điện tử.</li>
        </ul>
        <p>
            <strong>
                QUẢNG CÁO VÀ KHUYẾN MÃI<br>
            </strong>Chúng tôi có thể có các chương trình quảng cáo, khuyến mãi của các bên thứ ba trên Trang Web. Các giao dịch kinh doanh hoặc tương ứng với các giao dịch của bạn tham gia vào các chương trình khuyến mãi của các nhà quảng cáo không phải chúng tôi, và với bất kỳ điều khoản và điều kiện, bảo đảm hoặc đại diện nào cho các giao dịch này, là hoàn toàn giữa bạn và bên thứ ba. Chúng tôi không có trách nhiệm hoặc nghĩa vụ đối với bất kỳ tổn thất hoặc thiệt hại nào phát sinh từ các giao dịch hoặc do sự xuất hiện của việc quảng cáo của bên thứ ba trên Trang Web.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                TUYÊN BỐ MIỄN TRỪ ĐẢM BẢO<br>
            </strong>Bạn đồng ý rằng việc sử dụng Trang Web hoàn toàn là sự mạo hiểm của riêng bạn. Kể cả chúng tôi, đối tác của chúng tôi, công ty con, các chi nhánh khác và cả bất kỳ nhân viên, tư vấn viên, bên thứ ba cung cấp thông tin hoặc nhà cấp phép đảm bảo rằng Trang Web sẽ không bị gián đoạn hoặc bị lỗi; chúng tôi cũng không đảm bảo cho bất kỳ các kết quả thu thập được thông qua việc sử dụng Trang Web, hoặc cũng như tính chính xác, mức độ tin cậy của bất kỳ thông tin, dịch vụ, hoặc sản phẩm được cung cấp qua Trang Web, hoặc chất lượng của bất kỳ sản phẩm, dịch vụ, thông tin, hoặc tài liệu khác được mua, thuê hoặc sở hữu bởi bạn qua Trang Web sẽ đáp ứng mong muốn của bạn.<strong>
                <br>
            </strong>
        </p>
        <p>
            Cụ thể, bạn xác nhận và đồng ý rằng đôi khi Trang này có thể không truy cập được hoặc không hoạt động vì bất kỳ lý do gì, bao gồm nhưng không giới hạn ở hư hỏng thiết bị; bảo trì định kỳ, các sửa chữa hoặc thay thế đôi khi được chúng tôi tiến hành; các nguyên nhân vượt quá khả năng kiểm soát hợp lý của chúng tôi hoặc các nguyên nhân mà chúng tôi không thể dự đoán một cách hợp lý, bao gồm nhưng không giới hạn ở sự gián đoạn hay không hoạt động của dịch vụ viễn thông hoặc của các liên kết truyền dẫn kỹ thuật số, các cuộc tấn công mạng nguy hiểm, nghẽn mạng hay các sự cố khác. Bạn xác nhận và đồng ý rằng chúng tôi không kiểm soát tính khả dụng của Trang này hay Dịch vụ một cách liên tục hoặc ngắt quãng, và rằng chúng tôi không phải chịu trách nhiệm pháp lý nào với bạn hay các bên khác về vấn đề này.<br>
            Ngoài ra, chúng tôi có quyền quyết định ngừng các dịch vụ trong mục “Tuyển dụng” trên Trang Web bất cứ lúc nào. Chúng tôi không có bất cứ trách nhiệm gì trước người sử dụng đối với việc ngừng cung cấp dịch vụ này, cho dù có thể bạn bị thiệt hại vì việc sử dụng dịch vụ bị gián đọan.<br>
            Trang Web có thể cung cấp thông tin, lời khuyên về tài chính, đầu tư, thiết kế kiến trúc, thi công xây dựng và các thông tin khác nhưng những thông tin này đều được phát triển nhằm mục đích giáo dục và mang tính chất cung cấp thông tin. Mặc dù những thông tin này được thu thập từ các nguồn thông tin được cho là uy tín, đáng tin cậy, nhưng không có dữ liệu, tin tức, thông tin, báo cáo hoặc ý kiến nào cũng như bất kỳ đề xuất nào (nếu có) đã được điều chỉnh phù hợp cho từng cá nhân hay nhóm người cụ thể nào. Do đó, việc sử dụng Trang Web là rủi ro và nguy cơ riêng của bạn.
        </p>
        <p>Bằng việc cung cấp các thông tin và dữ liệu sẵn có trên Trang Web, bao gồm sự kiện, ý kiến, quan điểm và đề xuất cho các cá nhân và tổ chức quan tâm, chúng tôi và nhà cung cấp thông tin của chúng tôi không ngụ ý rằng chúng tôi đang đại diện như nhà tư vấn chuyên nghiệp về tài chính, đầu tư, thuế, pháp luật và chuyên môn khác. Bạn phải tìm lời khuyên, tư vấn chuyên nghiệp liên quan đến chuyên môn trước khi quyết định trong các lĩnh vực nêu trên.</p>
        <p>
            <strong>
                GIỚI HẠN TRÁCH NHIỆM<br>
            </strong>Chúng tôi sẽ không chịu trách nhiệm đối với bạn về bất kỳ thiệt hại, hậu quả trực tiếp, gián tiếp, ngẫu nhiên, khác biệt, điển hình nào, bao gồm nhưng không giới hạn về tổn thất lợi nhuận, uy tín, thể chất, sử dụng, dữ liệu hoặc những tổn thất vô hình khác (ngay cả khi chúng tôi đã thông báo về khả năng dẫn đến những thiệt hại này), phát sinh từ việc:<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>Về việc sử dụng hoặc việc không thể sử dụng Trang Web;</li>
            <li>Chi phí của việc tìm nguồn hàng và dịch vụ thay thế phát sinh từ bất kỳ sản phẩm, dữ liệu, thông tin hoặc dịch vụ mua hoặc thu được hoặc tin nhắn nhận được hoặc giao dịch được thực hiện thông qua hoặc từ Trang Web;</li>
            <li>Truy cập trái phép hoặc thay đổi trong việc truyền dữ liệu của bạn;</li>
            <li>Hành vi cố ý vi phạm và gây thiệt hại từ bên thứ ba, hoặc Virus;</li>
            <li>Quảng cáo của bên thứ ba được đăng trên, thông qua hoặc kết nối với các dịch vụ;</li>
            <li>Hàng hoá hoặc dịch vụ được cung cấp bởi các bên thứ ba;</li>
            <li>Thông báo hay giao dịch của bên thứ ba bất kỳ trên Trang Web;</li>
            <li>Mọi sự bị thương hoặc tử vong, do việc sử dụng các dịch vụ, tham dự bất kỳ sự kiện, từ bất kỳ nội dung bài đăng trên hoặc thông qua dịch vụ của Trang Web, hoặc từ việc tiến hành của bất kỳ người sử dụng các dịch vụ, cho dù trực tuyến hoặc offline; và</li>
            <li>Bất kỳ vấn đề nào khác liên quan đến Trang Web.</li>
        </ul>
        <p>Bất kỳ điều gì trái ngược với điểm này, trách nhiệm của chúng tôi đối với bạn cho bất kỳ nguyên nhân nào và bất kỳ mẫu hành động nào, trong bất kỳ lần nào sẽ được giới hạn trong khoản giá trị tối đa là bằng với số tiền mà bạn đã chi trả cho chúng tôi để sử dụng dịch vụ đó. Giới hạn trách nhiệm phản ánh sự phân bổ rủi ro giữa các bên.</p>
        <p>Chúng tôi từ chối bất kỳ và mọi trách nhiệm pháp lý dưới bất kỳ hình thức nào đối với bất kỳ sự truy cập trái phép vào hoặc sử dụng thông tin nhận dạng cá nhân của bạn. Bằng việc truy cập Trang Web, bạn thừa nhận và đồng ý với việc từ chối trách nhiệm pháp lý của chúng tôi. Nếu bạn không đồng ý, xin bạn vui lòng không truy cập hoặc sử dụng Trang Web.</p>
        <p>
            <strong>
                DIỄN ĐÀN<br>
            </strong>Các tài liệu, thông tin và ý kiến có trong và/hoặc được thể hiện trong các bảng tin, phòng chat, trang cộng đồng hoặc thảo luận trên các trang mạng xã hội thuộc về hoặc liên quan đến chúng tôi và Trang Web (sau đây gọi là “Diễn đàn”) không nhất thiết là của chúng tôi hoặc các công ty liên kết hoặc công ty có liên quan với chúng tôi hoặc các bên cung cấp nội dung. Chúng tôi không cam kết sẽ theo dõi hoặc xem xét các Diễn đàn, và Chúng tôi cũng không chịu trách nhiệm về nội dung của các Diễn đàn. Các Nội dung Cá nhân này, có nghĩa là các ý kiến, công bố, khuyến nghị hoặc quan điểm, chính là ý kiến, công bố, khuyến nghị và quan điểm của bạn chứ không bao giờ thuộc quyền sở hữu của chúng tôi.<strong>
                <br>
            </strong>
        </p>
        <p>Chúng tôi có thể tùy ý gỡ bỏ hoặc thay đổi bất kỳ nội dung nào vào bất kỳ thời điểm nào mà không cần thông báo hoặc chịu trách nhiệm gì. Bạn tự chịu rủi ro khi sử dụng các Diễn đàn và việc sử dụng đó sẽ tuân thủ điều khoản không bảo đảm, và Giới Hạn Trách Nhiệm nêu trên và Thỏa Thuận Sử Dụng Được Chấp Nhận mà chúng tôi đã ban hành.</p>
        <p>
            <strong>
                BỒI THƯỜNG<br>
            </strong>Bạn đồng ý bồi thường và đảm bảo &nbsp;chúng tôi, công ty con, các chi nhánh, giám đốc, tư vấn viên hoặc các đối tác, và nhân viên không chịu trách nhiệm và không chịu tổn thất từ mọi khiếu nại, loại trừ chúng tôi khỏi những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí bao gồm nhưng không giới hạn án phí, chi phí luật sư, chuyên gia tư vấn có liên quan đến việc giải quyết hoặc phát sinh từ sự vi phạm của bạn trong quá trình sử dụng sản phẩm của chúng tôi, từ bất kỳ bên thứ ba nào bởi vì hoặc phát sinh từ việc sử dụng Trang Web của bạn, mối liên hệ của bạn với Trang Web, vi phạm Điều Khoản Thỏa Thuận, hoặc vi phạm bất kỳ quyền lợi của các bên khác (ở đây bao gồm các vi phạm liên quan đến tài khoản của bạn mà bạn hoặc bất kỳ người nào khác sử dụng tài khoản của bạn phải thực hiện). Chúng tôi bảo lưu quyền dành lấy quyền biện hộ duy nhất đối với bất kỳ yêu cầu khiếu nại nào mà chúng tôi được hưởng bồi thường theo Mục này. Trong trường hợp này, bạn sẽ phải hợp tác với chúng tôi theo yêu cầu hợp lý của chúng tôi.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                THƯƠNG HIỆU<br>
            </strong>Chúng tôi, công ty mẹ, công ty con và các chi nhánh, sở hữu tất cả các quyền đối với biểu tượng và thương hiệu của chúng tôi được sử dụng liên quan đến Trang Web. Tất cả các biểu tượng và thương hiệu xuất hiện trên Trang Web là tài sản của mỗi chủ sở hữu tương ứng.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                CHÍNH SÁCH BẢO MẬT<br>
            </strong>Tất cả các dữ liệu thông tin cá nhân của bạn đều được tuân theo&nbsp;<a href="https://boostjuice.com.vn/chinh-sach-bao-mat/">Chính Sách Bảo Mật</a>&nbsp;của chúng tôi.<br>
            <a href="https://boostjuice.com.vn/chinh-sach-bao-mat/">Chính Sách Bảo Mật</a>&nbsp;được kết hợp vào và là một phần không thể tách rời của Điều Khoản Thỏa Thuận dưới mục này.
        </p>
        <p>
            <strong>
                CHẤM DỨT<br>
            </strong>Chúng tôi có thể chấm dứt hoặc tạm ngưng các Điều Khoản Thỏa Thuận này bất kỳ lúc nào mà không cần phải thông báo trước cho bạn. Không giới hạn bởi các quy định nêu trên, chúng tôi được toàn quyền chấm dứt Tài khoản của bạn ngay lập tức trong các trường hợp xảy ra do bạn mà chúng tôi cho rằng không chấp nhận được, hoặc trong trường hợp bạn vi phạm các Điều Khoản Thỏa Thuận. Nguyên nhân của việc chấm dứt tài khoản bao gồm nhưng không giới hạn:<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>Vi phạm Điều Khoản Thỏa Thuận, Chính Sách Sử Dụng Được Chấp Nhận, hoặc các văn bản, hướng dẫn hoặc quy tắc được bổ sung thêm;</li>
            <li>Yêu cầu của cơ quan pháp luật hoặc các cơ quan chính phủ khác;</li>
            <li>Tự nguyện trong việc chấm dứt tài khoản;</li>
            <li>Xâm phạm quyền sở hữu trí tuệ của người khác;</li>
            <li>Ngừng hoặc sửa đổi, điều chỉnh dịch vụ trên Trang Web, hoặc một phần của việc điều chỉnh đó;</li>
            <li>Vấn đề, sự cố kỹ thuật hoặc bảo mật không lường trước được; hoặc</li>
            <li>Tình trạng không hoạt động kéo dài.</li>
        </ul>
        <p>Việc chấm dứt tài khoản của bạn có thể dẫn đến:</p>
        <ul>
            <li>Chấm dứt quyền truy cập và ngăn chặn việc sử dụng thêm tất cả các dịch vụ liên quan đến tài khoản này trên Trang Web; và</li>
            <li>Xóa mật khẩu truy cập và thông tin liên quan, tài liệu và nội dung liên quan đến và trong tài khoản của bạn (hoặc một phần của tài khoản).</li>
        </ul>
        <p>Việc chấm dứt tài khoản của bạn sẽ không làm ảnh hưởng đến bất kỳ các quyền hoặc biện pháp mà chúng tôi có thể hưởng được dưới Điều Khoản Thỏa Thuận theo pháp luật hoặc và sẽ không ảnh hưởng đến những quyền lợi và nghĩa vụ cũng như việc hiệu lực của bất kỳ điều khoản đã được thể hiện rõ ràng có ý nghĩa nhằm vào hoặc tiếp tục có hiệu lực của việc chấm dứt này.</p>
        <p>
            <strong>
                HIỆU LỰC RIÊNG LẺ<br>
            </strong>Nếu bất kỳ điều khoản nào của Thỏa thuận (một phần hay toàn bộ) hết hiệu lực hoặc trái pháp luật, vô hiệu, hoặc vì lý do nào đó không thể thi hành được, thì một phần hoặc toàn bộ điều khoản đó sẽ được xem như tách khỏi Thỏa thuận này và sẽ không ảnh hưởng đến hiệu lực và khả năng thực thi của các điều khoản còn lại.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                CÁC ĐIỀU KHOẢN KHÁC<br>
            </strong>Nếu phần nào của bản thoả thuận này được xác định là sai trái hoặc không thể thực hiện được trong pháp luật hiện hành bao gồm, nhưng không giới hạn ở, sự từ bỏ trách nhiệm pháp lý và những giới hạn pháp lý đã được thiết lập trước đó, thì những điều khoản sai trái hoặc không thể thực thi được sẽ được cho là được thay thế bởi những điều khoản đúng đắn, có thể thực thi gần nhất với dự định của những điều khoản cũ và những thoả thuận còn lại sẽ tiếp tục có hiệu lực.<strong>
                <br>
            </strong>
        </p>
        <p>Sự tiếp cận và sử dụng các dịch vụ nhất định của bạn có thể yêu cầu bạn phải chấp nhận các điều khoản và điều kiện áp dụng đối với một số dịch vụ nhất định, bổ sung thêm cho Thoả thuận này.</p>
        <p>Nếu pháp luật hiện hành không cho phép áp dụng tất cả hoặc bất kỳ phần nào của giới hạn trách nhiệm nêu trên cho bạn, thì các giới hạn này sẽ chỉ áp dụng cho bạn trong phạm vi pháp luật cho phép.</p>
        <p>Điều Khoản Thỏa Thuận sẽ được quản lý và giải thích theo pháp luật của nước Cộng hòa Xã hội Chủ nghĩa Việt Nam, mọi khiếu nại hoặc tranh chấp đều thuộc thẩm quyền xét xử của Tòa án của nước Cộng hòa Xã hội Chủ nghĩa Việt Nam hoặc cơ chế Trọng tài Thương mại tùy theo quyết định của chúng tôi.</p>
        <p>Việc chúng tôi không thể thực hiện hoặc thực thi bất kỳ quyền hoặc điều khoản nào của Điều Khoản Thỏa Thuận này sẽ không được coi là sự khước từ điều khoản hay quyền này. Nếu bất kỳ điều khoản nào của Điều Khoản Thỏa Thuận được phát hiện bởi tòa án có thẩm quyền hoặc thông qua cơ chế trọng tài, là không hợp lệ, các bên vẫn có đồng ý rằng tòa án hoặc trọng tài nên cố gắng thực hiện các ý định của các bên như được phản ánh trong điều khoản và các điều khoản khác của Điều Khoản Thỏa Thuận vẫn còn hiệu lực.</p>
        <p>Bất kỳ tài khoản nào mà bạn có thể có với chúng tôi không thể chuyển nhượng và bất kỳ quyền nào đối với tài khoản đó sẽ chấm dứt sau khi bạn chết. Khi chúng tôi nhận được bản sao giấy chứng tử của bạn, tài khoản của bạn sẽ bị chấm dứt và tất cả nội dung bạn đã được tạo ra trong tài khoản của bạn sẽ bị xóa vĩnh viễn.</p>
        <p>Thỏa thuận này được lập bằng Tiếng Việt và Tiếng Anh. Trong trường hợp có sự không thống nhất giữa bản tiếng Việt và bản tiếng Anh của Thỏa thuận này, bản tiếng Việt sẽ được ưu tiên áp dụng.</p>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

