@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;

@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><localize>@ViewBag.Title</localize></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Boost Juice is one of Australia&#039;s most famous and loved juice and smoothie brands.">
    <meta name="keywords" content="Boost Juice, is one of Australia's most famous and loved juice and smoothie brands, nước ép, healthy, sinh tố, trái cây tươi" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta name="zalo-platform-site-verification" content="VuIt8Ak7PGzPci0HkB9oCtYavHYKqZT4CZaq" />
    <meta property="og:site_name" content="Boost Juice" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Boost Juice" />
    <meta property="og:image" content="../../BoostJuice/images/cropped-iconboostweb-270x270.png" />
    <meta property="og:description" content="Boost Juice is one of Australia&#039;s most famous and loved juice and smoothie brands." />
    @*     <meta property="og:url" content="" />*@
    <link href="~/BoostJuice/images/favicon.png" rel="shortcut icon">
    <link rel="icon" href="~/BoostJuice/images/cropped-iconboostweb-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/BoostJuice/images/cropped-iconboostweb-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/BoostJuice/images/cropped-iconboostweb-180x180.png" />
    <meta name="msapplication-TileImage" content="~/BoostJuice/images/cropped-iconboostweb-270x270.png" />
    <style>
        body {
            font-family: 'Roboto', arial, sans-serif;
            font-size: 18px;
            letter-spacing: .75px;
            color: #595959;
            background-color: #ffffff;
            font-weight: 400;
            margin: 0
        }
        a{
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
            text-decoration: none;
        }

        .button :hover {
            color:#fff;
        }

        .hotline-phone-ring-wrap {
            position: fixed;
            bottom: 50px;
            right: 10%;
            z-index: 1;
        }

        .hotline-phone-ring {
            position: relative;
            visibility: visible;
            background-color: transparent;
            width: 110px;
            height: 110px;
            cursor: pointer;
            z-index: 11;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            transition: visibility .5s;
            left: 0;
            bottom: 0;
            display: block;
        }

        .hotline-phone-ring-circle {
            width: 85px;
            height: 85px;
            top: 10px;
            left: 10px;
            position: absolute;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #e60808;
            -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            opacity: 0.5;
        }

        .hotline-phone-ring-circle-fill {
            width: 55px;
            height: 55px;
            top: 25px;
            left: 25px;
            position: absolute;
            background-color: rgba(230, 8, 8, 0.7);
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        .hotline-phone-ring-img-circle {
            background-color: #e60808;
            width: 33px;
            height: 33px;
            top: 37px;
            left: 37px;
            position: absolute;
            background-size: 20px;
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hotline-phone-ring-img-circle .pps-btn-img {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .hotline-phone-ring-img-circle .pps-btn-img img {
            width: 20px;
            height: 20px;
        }

        .hotline-bar {
            position: absolute;
            background: rgba(230, 8, 8, 0.75);
            height: 40px;
            width: 180px;
            line-height: 40px;
            border-radius: 3px;
            padding: 0 10px;
            background-size: 100%;
            cursor: pointer;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            z-index: 9;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 50px !important;
            /* width: 175px !important; */
            left: 33px;
            bottom: 37px;
        }

        .hotline-bar > a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-indent: 50px;
            display: block;
            letter-spacing: 1px;
            line-height: 40px;
            font-family: Arial;
        }

        .hotline-bar > a:hover,
        .hotline-bar > a:active {
            color: #fff;
        }

        @@-webkit-keyframes phonering-alo-circle-anim {
            0% {
                -webkit-transform: rotate(0) scale(0.5) skew(1deg);
                -webkit-opacity: 0.1;
            }

            30% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                -webkit-opacity: 0.5;
            }

            100% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
                -webkit-opacity: 0.1;
            }
        }

        @@-webkit-keyframes phonering-alo-circle-fill-anim {
            0% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                opacity: 0.6;
            }

            50% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
                opacity: 0.6;
            }

            100% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                opacity: 0.6;
            }
        }

        @@-webkit-keyframes phonering-alo-circle-img-anim {
            0% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }

            10% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }

            20% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }

            30% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }

            40% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }

            50% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }

            100% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
        }

        @@media (max-width: 768px) {
            .hotline-bar {
                display: none;
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }
/* 
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #67b94c;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px #70b046;
        } */

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px ;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px #70b046;
        }
    </style>
    <link rel="stylesheet" href="~/BoostJuice/css/boostjuice.css">
    <link rel="stylesheet" href="~/BoostJuice/css/home.css">
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("metatags", required: false)

    <link rel="stylesheet" href="~/BoostJuice/css/style.css">
    <link rel="stylesheet" href="~/BoostJuice/css/aos.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    <!--Google tag-->
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7CH690S69Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7CH690S69Y');
    </script>
    

</head>
<body class="boost-home">
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "162029313658221");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v18.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js"></script>

    <header class="boost-main"> 
        <nav class="boost-main-nav-wrapper"> 
            <ul class="boost-main-nav">
                <li class="first-item" style="margin-left:7%"><a class="boost-subnav-trigger-off" href="/@culture/@_loc["aboutUrl"]"><localize>About Boost Juice</localize></a></li>


                 <li><a class="boost-subnav-trigger-off" href="#">Own a Boost</a></li>
                <li><a class="boost-subnav-trigger-off" href="#">Work at Boost</a></li>

                <li id="lgcontainer">
                    <a class="gift-card" href="/en/Home/SetCultureCookie?cltr=en&amp;returnUrl=/en"><img src="~/images/us.png" width="20"> en</a>
                    <a class="gift-card" href="/vi/Home/SetCultureCookie?cltr=vi&amp;returnUrl=/vi" id="vnlng"><img src="~/images/vn.png" width="20"> vi</a>

                </li>

                <li><a href="/@culture/vibe.html" class="my-vibe" data-open="0"><span>VIBE</span></a></li>

            </ul> 
        </nav>

        <a class="boost-nav-trigger" clicked="false" onclick="myFunction(this)"><span></span></a>
        <a href="/@culture/" class="boost-logo" id="boostlogo"><img src="~/images/boost-juice-logo.png" alt="Boost Juice" id="boost-logo"></a>
        <nav class="sub-navi">
            <ul>
                <li id="menu-item-500" class="remove-me"><a href="/@culture/@_loc["drinkUrl"]"><localize>Our Drinks</localize></a></li>
                <li id="menu-item-501" class="remove-me"><a href="/@culture/@_loc["storeUrl"]"><localize>Find Us</localize></a></li>
                <li id="menu-item-502" class="remove-me"><a href="/@culture/@_loc["promotionUrl"]"><localize>Promotion</localize></a></li>

                <li id="menu-item-502" class="remove-me"><a href="/@culture/vibe.html">VIBE</a></li>
                <li id="menu-item-503" class="remove-me"><a href="/@culture/@_loc["wellbeingUrl"]"><localize>Wellbeing</localize></a></li>
                <li id="menu-item-504" class="remove-me"><a href="/@culture/@_loc["newsUrl"]"><localize>News</localize></a></li>
                <li id="menu-item-505" class="remove-me"><a href="/@culture/@_loc["contactUrl"]"><localize>Contact Us</localize></a></li>

            </ul>
        </nav>
        </header>


    <!-- END nav -->
        @RenderBody()

    
    <footer class="footer" role="contentinfo">
        <a href="https://www.facebook.com/BoostJuiceVietnam/" target="_blank"><img src="~/images/icon_facebook.png" alt="Boost Juice - Facebook"></a>
        <a href="https://twitter.com/boostjuiceoz" target="_blank"><img src="~/images/icon_twitter.png" alt="Boost Juice - Twitter"></a>
        <a href="https://www.instagram.com/boostjuicevietnam/" target="_blank"><img src="~/images/icon_instagram.png" alt="Boost Juice - Instagram"></a>
        <nav class="footer-nav">
            <ul>
                <li><a href="#">Hướng dẫn Đặt hàng &amp; Thanh toán</a></li>
                <li><a href="/@culture/@_loc["deliveryUrl"]"><localize>DELIVERY &amp; RETURN POLICY</localize></a></li>
            </ul>
        </nav>
        <p class="copyright">
            © 2023 Copyright Boost Juice - VietNam                                    <span class="hide-mobile">|</span>
            <a href="/@culture/@_loc["termOfUseUrl"]"><localize>TERMS OF USE</localize></a>
            <span class="hide-mobile">|</span>
            <a href="/@culture/@_loc["privacyPolicyUrl"]"><localize>PRIVACY POLICY</localize></a>
            <span class="hide-mobile">|</span>
            <a href="/@culture/@_loc["acceptableUsePolicyUrl"]"><localize>ACCEPTABLE USE POLICY</localize></a>
        </p>
        <div class="footer-extra">
            <div class="footer__app">
                <a href="https://play.google.com/store/apps/details?id=com.vn.vxfmcg.boostjuice" class="footer__app-item">
                    <img src="~/images/ggplay.png" alt="">
                </a>
                <a href="https://apps.apple.com/vn/app/boost-juice-vietnam/id6444144103" class="footer__app-item">
                    <img src="~/images/ios.png" alt="">
                </a>
            </div>
            <div class="footer__content">
                <p><localize>VAN XUAN FMCG INVESTMENT COMPANY LIMITED</localize></p>
                <p>
                    <localize>
                        Certificate of Business Registration No. 0317934150 issued by
                    </localize>
                    <br>
                    <localize>Department of Planning and Investment of Ho Chi Minh City on 14/07/2023.</localize>
                    <br /><localize>Registered address: 110-112 Kinh Duong Vuong street, Ward 13, District 6, Ho Chi Minh City, Vietnam Tel: (84-028) 37858858 | Email:info@boostjuice.com.vn</localize>
                </p>
                <p>&nbsp;</p>
                <div align="Center">Our Visitor</div>


            </div>
           
        </div>
    </footer>
    <div class="hotline-phone-ring-wrap" style="z-index:31">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:1800 282890" class="pps-btn-img">
                    <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:1800 282890">
                <span class="text-hotline">1800282890</span>
            </a>
        </div>
    </div>




    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>

    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-126319440-2', 'auto');  // Replace with your property ID.
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11004042599"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-11004042599');</script>


    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

    <script>
        var type = window.location; // get information of all url
        if ((type.pathname).includes("/vi") || (type.pathname) === ("/")) {
            $(".boost-logo img").attr('style', 'margin-left: 10px');
            function myFunction(x) {


                x.classList.toggle("change");
                if (($(".boost-nav-trigger").attr("clicked")) == "false") {
                    $('.boost-home').addClass('nav-active');
                    $('.boost-main').addClass('nav-is-visible');
                    $('.boost-main-nav').addClass('nav-is-visible');

                    $(".boost-nav-trigger").attr("clicked", "true");
                    $('.boost-logo').addClass('is-visible');

                    $('<li id="menu-item-500" class="remove-me"><a href="/@culture/@_loc["drinkUrl"]">Thức uống</a></li>'+
                        '<li id="menu-item-501" class="remove-me"><a href="/@culture/@_loc["storeUrl"]">Cửa hàng</a></li>' +
                        '<li id="menu-item-502" class="remove-me"><a href="/@culture/vibe.html">VIBE</a></li>' +
                        '<li id="menu-item-503" class="remove-me"><a href="/@culture/@_loc["wellbeingUrl"]">Sống khỏe</a></li>' +
                        '<li id="menu-item-504" class="remove-me"><a href="/@culture/@_loc["newsUrl"]">Tin tức</a></li>' +
                        '<li id="menu-item-505" class="remove-me"><a href="/@culture/@_loc["contactUrl"]">Liên hệ</a></li>').insertBefore('#lgcontainer');

                } else {
                    $('.boost-home').removeClass('nav-active');
                    $('.boost-main').removeClass('nav-is-visible');
                    $('.boost-main-nav').removeClass('nav-is-visible');

                    $(".boost-nav-trigger").attr("clicked", "false");
                    $('.boost-logo').removeClass('is-visible');
                    $(".boost-main-nav .remove-me").remove();


                }


            }

        } else {
            function myFunction(x) {


                x.classList.toggle("change");
                if (($(".boost-nav-trigger").attr("clicked")) == "false") {
                    $('.boost-home').addClass('nav-active');
                    $('.boost-main').addClass('nav-is-visible');
                    $('.boost-main-nav').addClass('nav-is-visible');

                    $(".boost-nav-trigger").attr("clicked", "true");
                    $('.boost-logo').addClass('is-visible');

                    $('<li id="menu-item-500" class="remove-me"><a href="/@culture/@_loc["drinkUrl"]">Our Drinks</a></li>' +
                        '<li id="menu-item-501" class="remove-me"><a href="/@culture/@_loc["storeUrl"]">Find Us</a></li>' +
                        '<li id="menu-item-502" class="remove-me"><a href="/@culture/vibe.html">VIBE</a></li>' +
                        '<li id="menu-item-503" class="remove-me"><a href="/@culture/@_loc["wellbeingUrl"]">Wellbeing</a></li>' +
                        '<li id="menu-item-504" class="remove-me"><a href="/@culture/@_loc["newsUrl"]">News</a></li>' +
                        '<li id="menu-item-505" class="remove-me"><a href="/@culture/@_loc["contactUrl"]">Contact</a></li>').insertBefore('#lgcontainer');

                } else {
                    $('.boost-home').removeClass('nav-active');
                    $('.boost-main').removeClass('nav-is-visible');
                    $('.boost-main-nav').removeClass('nav-is-visible');

                    $(".boost-nav-trigger").attr("clicked", "false");
                    $('.boost-logo').removeClass('is-visible');
                    $(".boost-main-nav .remove-me").remove();


                }


            }
        }
        
        

        // var position = $(window).scrollTop();

        // // should start at 0

        // $(window).scroll(function () {
        //     var scroll = $(window).scrollTop();
        //     if (scroll > position) {
        //         console.log('scrollDown');
        //         $('.boost-main').addClass('is-fixed');
        //     } else if(position = scroll){
        //         console.log('scrollUp');
        //         $('.boost-main').removeClass('is-fixed');
        //     }
        // });
        
    </script>

</body>
</html>