@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vibe";
    var culture = CultureInfo.CurrentCulture.Name;

}

@section Styles{
    <link rel="stylesheet" href="~/BoostJuice/css/about.css">

    <link rel="stylesheet" href="~/BoostJuice/css/login.css">
    <link rel="stylesheet" href="~/BoostJuice/css/owl-carousel.css">

}

<div class="boost-main-content">
    <div class="main-fold bg-image vibe-banner-bkg">
    </div>
    <div class="preloader" style="display: none;">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="sub-fold fix-content-large" id="vibe-welcome">
        <div class="container">
            <div class="row fix-content">
                <div class="columns text-center">
                    <img src="../../images/vibe-club.png">
                    <p>
                    <p><localize>Do you hate waiting? Do you like things really fast? Are you becoming impatient waiting for us to make our point? Well wait no more! When you become a Vibe member, you get to cut the queue forever when you order through the App! Vibe members get a ton of free stuff and all you have to do is register.</localize></p>
                    </p>
                   @*  <div class="row">
                        <div class="columns six"><a href="https://order.boostjuice.com.vn/customer/account/login/" class="button"><localize>Sign In</localize></a></div>
                        <div class="columns six"><a href="https://order.boostjuice.com.vn/customer/account/create/" class="button button-primary"><localize>Register</localize></a></div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
    <div id="my-vibe" style="display: block">
        <div class="sides-off" id="my-vibe-inner">
            <div class="boost-carousel owl-carousel owl-theme boost-carousel-vibe">
                <div class="slide-1" style="background-image: url('../../images/slider-slide-5.jpg')">
                    <img src="../../images/slider-shape-5.png" class="slider-icon-1" />
                </div>
                <div class="slide-2" style="background-image: url('../../images/slider-slide-4.jpg')">
                    <img src="../../images/slider-shape-4.png" class="slider-icon-1" />
                </div>
                <div class="slide-3" style="background-image: url('../../images/slider-slide-3.jpg')">
                    <img src="../../images/slider-shape-3.png" class="slider-icon-1" />
                </div>
            </div>

        </div>
        <div class="vibe-options">
            <div class="container">
                <div class="row">
                    <div class="six columns">
                        <div>
                            <p class="sub-title">
                                <localize>
                                    OPTION 1
                                </localize>
                            </p>
                            <h3><localize>Download the<br>Boost Juice App</localize></h3>
                            <p><localize>Your phone just got smarter! From the convenience of your fingers (or toes if you’re talented like that) you can order and customise your Boost from the App and strut your stuff past any queues. If that’s not enough, we give so much stuff away you’d think we we’re having a closing down sale! Which we aren’t. We’re here forever.</localize></p>
                            <p>
                                <a href="http://bit.ly/1yqA2a2" target="_blank">
                                    <img src="~/images/ios.png"
                                         width="160">
                                </a>
                                <a href="http://bit.ly/USKKXP" target="_blank">
                                    <img src="~/images/ggplay.png"
                                         width="160">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="six columns">
                        <div>
                            <p class="sub-title">
                                <localize>
                                    OPTION 2
                                </localize>
                            </p>
                            <h3><localize>Get yourself<br> a Vibe Card</localize></h3>
                            <p>
                                <localize>
                                    Oh you little hipster thing you! If tech is too cool at the moment, then scoot on over to your nearest Boost store, get yourself a Vibe card and register your details. Do it quickly before it becomes mainstream.
                                </localize>
                            </p>
@*                             <a href="https://order.boostjuice.com.vncustomer/account/create/" class="button"><localize>Register</localize></a>
*@
                            <a href="tel:1800 282890" class="button"><localize>Register</localize></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-jobs" id="available-opportunities">
            <div class="row">
                <div class="columns text-center">
                    <div class="fix-content">
                        <h2>
                            <localize>
                                Testimonials
                            </localize> 
                        </h2>
                        <p class="hide-mobile"><localize>&quot;I wasn’t feeling well the other day, so I went and visited the Doctor. He told me to download the Boost app and now I feel great. This app is medicinal magic!&quot;</localize></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="vibe-learn-more">
        <div class="container">
            <div class="row">
                <ul id="vibe-learn-more-triggers">
                    <li id="trigget-faq" clicked="false"><localize>Frequently Asked Questions</localize></li>
                    <li id="trigger-terms" clicked="false"><localize>VIBE CLUB TERMS & CONDITIONS</localize></li>
                </ul>
                <div id="faq" class="">
                    <h3><localize>Frequently Asked Questions</localize></h3>
                    <ul class="expander">
                        <li class="" clicked="false">
                            <localize>Why register?</localize>
                            <div>
                                <p>
                                <p>
                                    <localize>
                                        Ah, ‘cos it’s awesome? Keep your alerts on and get the low down on random challenges, freebies and discounts (because we’re a generous bunch of coconuts) and the power to strut your stuff pass the queue and grab your pre-ordered Boost drink with our Order Now feature.<br />
                                        Other deliciously entices things that may tickle your pickle:<br />
                                        &#8211; What’s Your Name Game – We call out your name, and you get a free Boost, simples! Thank your folks later.<br />
                                        &#8211; My Boost Points – Collect points every time you buy a Boost, 10 points and you get a Freebie Find Us<br />
                                        &#8211; Our Menu – What’s in our drinks? Nothing artificial that’s for sure but you can find out all about it FREE birthday drink just for being born! And again<br />
                                        yay for parents! Still not sure what the fruit is going on? We’ve dumbed it all down in our FAQ’s.
                                    </localize>
                                </p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                           <localize></localize>
                            <div>
                                <p>
                                <p><localize>Buy one drink, get one point. Buy two drinks, get two points. Easy peezy lemon squeezy! This can be for Kids, Medium and Original drinks, so long as you buy a drink. Points only apply for full price drinks (so not when any offer or discount is used) and not where VIBE club is excluded.</localize></p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>Can I get a free drink yet?</localize>
                            <div>
                                <p>
                                <p><localize>Got 10 or more points? Then do a happy dance because you have a free Boost! You only need 10 points to get your freebie! Free Boost is for original size only and does not include soy, double fruit or any extras!</localize></p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>Is there a limit on points and do they expire?</localize>
                            <div>
                                <p>
                                <p><localize>You can collect as many points as you want to and your points have no expiry date, so collect away and eventually you could have enough to fill your bath with Mango Magic!</localize> </p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                           <localize>When will my card update with the points?</localize>
                            <div>
                                <p>
                                <p>
                                    <localize>If your points haven’t refreshed automatically, refresh the Boost Juice website or app. Cheeky thing still not working? Don’t throw your phone at that random stranger, just send an email our way to info@boostjuice.vn and we will fix it for you!</localize>
                                    </p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>What is the difference between my physical card and the one in the app?</localize>
                            
                            <div>
                                <p>
                                <p>
                                    <localize>The app is snazzy and pretty and so much more than a card! It still does all the same stuff as your card but also much much more!</localize>
                                    </p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>If I have registered using the "without a card" option, will I receive a physical one?</localize>
                            
                            <div>
                                <p>
                                <p><localize>Nope! Everything you need is right here in this handy dandy app.</localize></p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>If I have registered in the app using the plastic card, do I still need to keep the physical one or is the one in my app sufficient?</localize>
                            <div>
                                <p>
                                <p><localize>Your app will do the job but if you’re a bit of a hoarder or don’t like saying goodbyes then keep the card.</localize></p>
                                </p>
                            </div>
                        </li>
                        <li class="" clicked="false">
                            <localize>What do I do if my personal details change?</localize>
                            
                            <div>
                                <p>
                                <p><localize>Moved? Made a boo boo? Tied the knot? No worries! All the details you entered when you registered can be changed whenever you feel the need. Just log into the app, head to the My Profile section, change your deets and save it!</localize></p>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="vibe-terms" class="">
                    <div>
                        <h3><localize>Vibe Card - Terms & Conditions</localize></h3>
                        <ol>
                            <li>
                                <localize>By registering and/or using your Boost VIBE Card, you consent to the terms of this agreement.</localize>
                            </li>
                            <li>
                                <localize>VIBE Points will be awarded to customers for full price smoothies, crushes or freshly squeezed juice products only, unless expressly specified. Points will not be awarded in association with any other offer or discount. Point balances are not transferable or redeemable for cash.</localize>
                            </li>
                            <li>
                                <localize>While every effort will be made in store to ensure VIBE Points are correctly awarded, Boost Juice Bars takes no responsibility for technical errors associated with crediting points onto the VIBE Card.</localize>
                            </li>
                            <li>
                                <localize>The Boost VIBE Card should be treated like cash. Unless otherwise required by law or permitted by this agreement, any points on your VIBE Card is non-refundable and may not be redeemed for cash. No interest or any other points deposited to a VIBE card will accrue, be paid or be credited to you by Boost Juice Vietnam.</localize>
                            </li>
                            <li>
                                <localize>
                                    In the case of a lost or stolen Vibe Card; Vibe Members should visit a Boost Juice store and request a new Vibe Card. They can log onto the registered members section of the Boost Juice Vietnam website where they can Transfer their existing card information including Vibe Points, to their new card by submitting their details. Every endeavour will be made to ensure that the full points balance is also transferred to the new card; however Boost Juice Vietnam will not be responsible for any points accrued that are lost in the transfer. Cards that are reported as lost or stolen will immediately be cancelled and will be no longer able to be used. If a Vibe Card is lost or stolen, the Vibe Member is responsible for logging onto the website to perform a lost card process and transfer all existing Vibe Points to a new Vibe Card. A new card can be acquired from any Boost Juice Outlet in Vietnam.
                                </localize>
                            </li>
                            <li>
                                <localize>We reserve the right not to accept a VIBE Card should we believe that the use is unauthorised, fraudulent or otherwise unlawful.</localize>
                            </li>
                            <li>
                                <localize>VIBE Members are entitled to a free Birthday Boost Juice on the day of their birthday upon presentation of their VIBE Card confirming their birth date registered on the card matches the date of visit to the store. This free Birthday Boost Juice cannot be redeemed on any other day regardless of external circumstances including but not limited to public holidays, store closures etc. This free Birthday Boost is non-transferable and cannot be exchanged for cash. Boost Juice do not take responsibility for incorrectly entered birth dates during the registration process.</localize>
                            </li>
                            <li>
                                <localize>The VIBE Card is issued to you by Boost Juice Vietnam.</localize>
                            </li>
                            <li>
                                <localize>No fees will be charged by Boost Juice Vietnam for the issue, registration, activation or use of the VIBE Card.</localize>
                            </li>
                            <li>
                                <localize>Should a password be lost or forgotten, VIBE members should go to the registered members section of the Boost Juice Vietnam website where they can enter their email address and click on 'lost password'. Their password will then be sent to their nominated email address.</localize>
                            </li>
                            <li>
                                <localize>Boost Juice Vietnam reserves the right to alter the terms and conditions of the VIBE Member program at any time by notifying members through email or website.</localize>
                            </li>
                            <li>
                                <localize>Information collected from members at the time of signing up to the VIBE Member program is subject to the Privacy Policy listed at </localize>
                                <a href="/@culture/@_loc["privacyPolicyUrl"]"><localize> PRIVACY POLICY</localize></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
<script>
    jQuery(document).ready(function (e) {
        var i = e(".owl-carousel");
        i.owlCarousel({ items: 1, nav: !0, autoplay: !0, autoplayTimeout: 5e3, smartSpeed: 800, dots: !1, loop: !0 });
    });
    $("#vibe-learn-more-triggers li:first-child").on("click", function () {

        if ($(this).attr("clicked") == "false") {
            $("#faq").addClass("show");
            $("#vibe-terms").removeClass("show");

            $(this).attr("clicked", "true");
            $("#vibe-learn-more-triggers li:last-child").attr("clicked", "false");
        } else {
            $("#faq").removeClass("show");
            $(this).attr("clicked", "false");
        }
    });
    $("#vibe-learn-more-triggers li:last-child").on("click", function () {
        if ($(this).attr("clicked") == "false") {
            $("#vibe-terms").addClass("show");
            $("#faq").removeClass("show");

            $(this).attr("clicked", "true");
            $("#vibe-learn-more-triggers li:first-child").attr("clicked", "false");

        } else {
            $("#vibe-terms").removeClass("show");
            $(this).attr("clicked", "false");
        }
    });
    $(".expander li").on("click", function () {
        var e = $(".expander li").index(this);


        $('.expander li').not(':eq("' + e + '")').removeClass("show-details");
        $('.expander li').not(':eq("' + e + '")').attr("clicked", "false");

        if ($(this).attr("clicked") == "false") {
            $(this).addClass("show-details");
            $(this).attr("clicked", "true");
        } else {
            $(this).removeClass("show-details");
            $(this).attr("clicked", "false");
        }
    });
</script>
